[2018-01-16 12:04] mronus commented on #1698
I totally agree with you. It would be great to have such a feature, but I am not sure whether this can be done without breaking the structure of Gekko.

[2018-01-16 12:33] mronus commented on #1652
An additional PR (#1700) has been created to be able to use all binance coins till #1550 is merged.

[2018-01-16 12:34] mronus commented on #1678
PR created #1700

[2018-01-16 12:57] Nickduino commented on #792
I have a B+ with the same issue.

I wonder if that's not the problem, indeed. I tried to install it after having activated a 1 GB swap file with no luck.

[2018-01-16 13:40] unstephenk commented on #1663
updating binance  with npm install and restarting the machine worked.

[2018-01-16 14:21] wupeng1211 opened #1701 "best strategy"
![screenshot-2018-1-16 gekko 1](https://user-images.githubusercontent.com/6904999/34993527-919918fe-fb0b-11e7-982e-948aad2b1e92.png)

[2018-01-16 15:07] Paulovms opened #1702 "[importer] bitfinex error In develop"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I started the gekko importer with my config.js after upgraded bitfinex.js with issue #1685 fixed in develop branch.

* **Expected result** (what you hop

[2018-01-16 15:30] coltac opened #1703 "Binance MIN_NOTIONAL Error (Purchase / Sell too small?)"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Running live bot on Binance

* **Expected result** (what you hoped would happen)
It would recognize the amount was too small

* **Actual result** (unex

[2018-01-16 15:56] aorfevre commented on #1701
are you willing to share your strategy ? Or just sharing your result ?

[2018-01-16 15:58] mauroprojetos commented on #1701
Cool, I'm interested too.
Did you develop this strategy?

[2018-01-16 16:49] mronus commented on #1703
I've seen this issue several time. I though that #1550 might solve it but it didnt work. You can see what happens in the following ss that I took it just now:
![image](https://user-images.githubusercontent.com/2014677/35000684-144c360c-faf6-11e7-9fd6-2c83eb07381a.png)

[2018-01-16 16:59] billymcintosh commented on #1662
`config.debug = false;` in your `config.js` should do it

[2018-01-16 18:26] cmroche commented on #1702
Can you try this on the develop branch and confirm if it is still an issue there?  There might be a partial integration from dev to stable as this function was added recently when refactoring error and retry handling with Bitfinex.

[2018-01-16 19:03] Paulovms commented on #1702
@cmroche I’d tried this on the developer branch and I got the same issue.

[2018-01-16 20:13] BitKwik commented on #1252
@askmike could you please help me with this issue? I really like to get this thing working but I seems that I cant get it running

[2018-01-16 20:16] hilkoc commented on #1634
As a test case, I implemented this strategy

[code]
for testing, simply to open a long position. So I know for certain it's not an issue with the strategy. Yet it still does not do anything. I'm connecting to Kraken.

[2018-01-16 20:55] coltac commented on #1703
Yes, I've tried several changed including #1550, but I lack the programming prowess to figure this one out.  Anyone have a clue on where to at least start?

[2018-01-16 21:09] schroempf commented on #1634
Are you absolutely certain that you provided an apikey with sufficient permissions setup in your kraken-account? Also, despite of Kraken claiming to have updated its infrastructure, it is still horribly slow and unstable.

[2018-01-16 21:25] hilkoc commented on #1634
`Wanted to buy XBT but the amount is too small (0.048766418079) at kraken`

That is what I found in the log. I don't understand what this means. I have left more than 400 euros in my account for testing. It is plenty to put on trades manually.  I thought the 'long' advice would go long with the full amount available. I don't understand?

[2018-01-16 21:42] hilkoc commented on #1255
I'm having the same problem on Kraken running the latest commit of develop branch today.

[2018-01-16 22:02] askmike commented on #1173
This is fixed since #1705.

[2018-01-16 22:02] #1173 closed, assigned to nobody

[2018-01-17 00:32] dramida commented on #789
Hello Guys, i checked the neural network output API from Bitbank.nz and we stroke gold for our old lizard :
Can you integrate such data into Gekko?
https://bitbank.nz/api/forecasts/usdt_btc

If you cannot access the link, it might be because you are not signed in...it's free for a day :) Yeee!

[2018-01-17 01:52] cmroche commented on #1702
I'll check it out then

[2018-01-17 02:00] cmroche commented on #1702
@Paulovms I grab the latest developed and tested and it is working for me. I do see that the handleResponse function is defined in to bitfinex exchange file, so I suspect there may be something up with your local copy.

Can you please try a checkout of the develop branch to a fresh location on your filesystem and retry.

Thanks.

[2018-01-17 02:45] bitkominer commented on #1252
Hi @BitKwik & @Altcoinnoob, if you just wanna give a try, here's a modified [portfolioManager](https://gist.github.com/bitkominer/5db8f424f577ed365a26e48259cd3853)

No need to patch certain files, just replace the portfolioManager.js using the modified file, then run gekko as usual.

This setting can be used for poloniex (USDT-BTC), using lot size of 11K satoshi for each trade. (You might modify t

[2018-01-17 03:35] meotomit commented on #610
@weshweshwesh Can you share you code ?

[2018-01-17 05:07] nflgopackgo12 commented on #789
Any profitable strategies the past 24hrs?

It looks like using the "UO" strategy at 5min would have worked.

[2018-01-17 06:00] #1695 closed, assigned to nobody

[2018-01-17 06:40] serial77 commented on #1208
Please bring back Cex.io as an exchange option in Gekko

[2018-01-17 06:41] bendake opened #1707 "Feature question..."
I wanted to know if the custom scripts allows you to create your own script that does not depend on any TA, I just want to use it to buy and sell a pair at a set price based on variables calculated in the JS...is that possible with your platform?

i.e. If current market price is 100, then place an order to buy at 90 and if that executes, to sell at 110 (very simplified, but that is the concept)...

[2018-01-17 07:20] xerviami opened #1708 "Strategies know advices - can they be aware of decisions ?"
Hi,

First of all, I thank all of you for this amazing tool !

I have a question:
 - a strategy outputs advices
 - advices are given to gekko
 - Gekko takes a decision (it follows the advice if it has the fund)
How to make a strategy aware of each decision ?

A use case could be to make an advice which takes into account the price of the previous decision.

Thank you in advance :-)
Xavier

[2018-01-17 07:38] ipansensoy opened #1709 "stochK and stochD returns an undefined error"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[* ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
i have this code
`
  this.addTulipIndicator('myEma', 'ema', this.settings.ema);
  this.addTulipIndicator('myStoch', 'stoch', this.settings.stoch);

}

[2018-01-17 07:40] weshweshwesh commented on #610
My Friends,
Are u really think i share my code like this ?
Do like me, go on OCR/Formum and learn JS. No other choise. And i can tell u there are nothing to comlex in my code, just if else ~600 variables ( yes, i don't know how to use Table ^^) and i use 0 indicator( CCI-RSI-TSI...)
But if u really want whrite a bot,  learn Python, it's better. For me the problem N°1 on gekko is you can't make an

[2018-01-17 08:59] Paulovms commented on #1702
@cmroche Thank you!
It was my fault. It seems I had got the fist version of bitfinex exchange file on #1550.

[2018-01-17 08:59] #1702 closed, assigned to nobody

[2018-01-17 10:07] reuzel opened #1710 "Going from minute to second trades"
Hi,

Love what you have been doing!

I'm trying to create a trading strategy that effectively finds the negative spikes in price. From detailed data I found that such spikes sometimes take no longer than 15 seconds.

From the code and documentation I distilled that the Gekko engine works (hardcoded) on minute candles as a minimum. I was wondering what it would take to reduce that timerange to seco

[2018-01-17 11:36] bitkominer commented on #1620
Perhaps you can check [this #1252](https://github.com/askmike/gekko/issues/1252#issuecomment-358177758).

The strategy uses RSI to generate frequent signals that initiate BUY-SELL. Whatever the signals, it will make BUY & SELL orders at one time, with getting 0.5% price different between BUY & SELL.

![polo-pingpong](https://user-images.githubusercontent.com/21021582/35041504-eb09af5e-fb7c-11e7-9c

[2018-01-17 12:23] tommiehansen commented on #1698
I don't really see a breaking problem?

This is basically what needs to be done:
1. Create a screener that I includes assets a, b, c...
2. Check this screener every X amount of time
3. Buy/sell depending on that screener (and user settings)

Checking for a, b, c... is a core part of the app.
The only thing here not being a core part is basically only the screener?

[2018-01-17 13:06] jaimevisser commented on #1488
Having Gekko invest only x amount of currency into asset and everything back would also make it possible to run multiple gekko's off of one base currency. Even if this would be a fixed amount, set from Gekko run start it would already offer a lot more flexibility then gekko currently has.

So this would be a feature request for me.

[2018-01-17 14:32] chopbk commented on #1701
Can use share your strategy? Thank you so much

[2018-01-17 14:42] Nickduino commented on #610
Provided we're all using an open source bot and discussing on its Github, one would expect to get feedback from users, yeah.

[2018-01-17 14:50] Nickduino commented on #1263
Can you share the short strategies, then? :-)

[2018-01-17 14:58] akildemir commented on #610
what is the name of this software?thank you
<img width="1751" alt="4449114c-09aa-11e7-89a3-5e87b6f596d3" src="https://user-images.githubusercontent.com/34187742/35049086-9ebb6662-fba7-11e7-90e1-9a508302687f.png">

[2018-01-17 15:07] nflgopackgo12 commented on #610
The big difference between backtesting and live trading is probably liquidity. Backtesting might assume the trade happens vs live trading if there is low volumn your trades won't execute when you want.

[2018-01-17 15:41] storshun commented on #1663
I've discovered clock drift is my biggest enemy. Even using "set time automatically" leaves me about 1.7 seconds adrift from server time after so many days of windows running. I manually set the time in Windows and it solved the problem, regardless the version of Binance NPM I use. Here's hoping my CPU doesn't drift too much on its own. If anyone knows a good way to lock-step the windows time to N

[2018-01-17 16:31] Nickduino commented on #610
Gekko, you're on its GitHub repo. The image you're showing is the backtesting page.

[2018-01-17 17:38] Tigel commented on #1535
I am having the same issue, which dependencies did you reinstall? Are those listed somewhere?

[2018-01-17 20:14] ipansensoy commented on #1709
`var _ = require('lodash');
var log = require('../core/log.js');

var EMA = require('../strategies/indicators/EMA');

// Let's create our own strategy
var strat = {};

// Prepare everything our strat needs
strat.init = function () {
    // your code!
    log.debug('Initalising Scalping Strategy');
    this.name = 'scalp';
    this.previousaction = 'sell';

    this.trend = {
        direction: 'no

[2018-01-17 21:49] RomaJZ commented on #610
@omega733 Could you share your BB strategie?

[2018-01-17 22:07] dwarda commented on #1481
Hi everyone,
I am sorry to bring up this error again. from reading your comment it feels like it has been solved but I know nothing about programming and have no idea what you guys are talking about/
every time I run Gekko on binance, I get this error after less than ten min:

RECEIVED ERROR IN GEKKO 0707182042988577

Gekko encountered an error and can't continue

Gekko encountered an error and ca

[2018-01-17 22:23] dwarda opened #1712 "binance js undefined error"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (I tried to delete and reinstall again)

* **Expected result** (hoping it would trade on binance without giving me an error)

* **Actual result** (same error keeps pop

[2018-01-17 22:40] cloggy45 commented on #1654
[code]
Errors are generated when using the default btc-china-fork.

[2018-01-18 01:32] thisisloze commented on #1299
I think if you make it so that if you:

If ownCoin = 1 && moveCoin = 0 && overbought == true && rsiVal <= this.settings.thresholds.high
 {
moveCoin = 2;
ownCoin = 0;
lastLongPrice = 0;
overbought = false;
this.advice('short');
}

Ignore moveCoin and ownCoin. Its my own functions.

[2018-01-18 02:53] cmroche commented on #1663
That is a surprising amount of clock drift. Typically NTP is supposed to compute your clock skew and compensate for it which should keep you well under a second of drift, the only thing I can think of is that your system is unable to access network time services, or that you have it disabled, or maybe the timeserver you are using is not great :P

You could increase the recvWindow though which woul

[2018-01-18 03:01] cmroche commented on #1663
OK, just did a bit more research, thread on CCXT people are reporting the same problem. https://github.com/ccxt/ccxt/issues/936 apparently there is another timer which requires all timestamps to be withing 1 second of their server time. In Windows 10 this is an issue becuase the time sync only runs once a day and if your clock has enough skew you will hit this issue.

The only solution is to updat

[2018-01-18 03:05] cmroche commented on #1696
You need to update your version of node, you are too far out of date.

[2018-01-18 03:18] cmroche commented on #1703
Data returned by their product API doesn't match the trading rules they've published. It would seem that the trading rules is correct, so either there is a mistake and something not understood correctly or there is an inconsistency in their published data. Other markets all look correct though, so I am not sure. Manually modify the ETH/EDO data in #1550, set amount to 1 and order to 0.2 and it sho

[2018-01-18 03:21] cmroche commented on #1703
I rechecked their product listing, I think this is an inconsistency in their product API. I'll bug Binance support.

[2018-01-18 03:26] cmroche commented on #1703
@mronus @coltac Looks like Binance recently update the min order values for currencies. I updated the script and republished the market data. Please try that and let me know if it works (still in #1550)

[2018-01-18 03:28] cmroche commented on #1712
Try `npm uninstall binance` then `npm install binance` so the error print properly, then let me know what the error is please :)

[2018-01-18 03:30] cmroche commented on #1710
Most exchange APIs won't allow you to query them enough to do this, you would need to implement it via websocket, the framework in Gekko is not well adjusted to this type of high frequency data.

[2018-01-18 03:36] ghost commented on #1712
@cmroche - similar issue - with 1 minute candle sizes on binance when trading XMR there seems to be issues with the orders not filling and it cancels/retries a lot. Any chance you could fix this? I'm using your product_update branch. If you leave me an eth address or email falatime@gmail.com I'll send a little something. Much appreciated!

[2018-01-18 03:37] coltac commented on #1703
Okay, ill give it a whirl, will report back

[2018-01-18 04:11] scarnago commented on #1589
I'm interested on cryptopia exchange feature too

[2018-01-18 04:47] coltac opened #1713 "Dumb question (prolly not an Issue)"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[X ] question about the decisions made in the repository

* **Action taken** (what you did)
Tried to find logs while running develop branch

* **Expected result** (what you hoped would happen)
Id Find them

* **Actual result** (unexpected outc

[2018-01-18 05:13] dwarda commented on #1712
@cmroche - here is the error that im receiving after doing what you said:

RECEIVED ERROR IN GEKKO 7869689313950996

Gekko encountered an error and can't continue

Gekko encountered an error and can't continue

Error:

[binance.js] Response code 400

Meta debug info:

Gekko version: v0.5.12
Nodejs version: v8.9.4

I am getting this error after about 10 min from starting trading BTC and TRX on bina

[2018-01-18 06:29] storshun commented on #1663
Wow, thanks for digging into this more! My clock definitely has enough skew apparently. I'm still getting error 400s, even though my clock is synchronizing to NIST every 3 minutes. I find it hard to believe that I'm getting out of lockstep by a second within only 180 seconds, but I guess it's possible. I'm using a program called "Dimension 4" to synchronize now, and have moved the update to:

1. S

[2018-01-18 06:34] storshun commented on #1663
Is there a way to turn on a log in Gekko so that I can see the time of failure? I'd like to track how long the bot runs, because over the last several days, I've only been able to execute a buy order via the bot, and then at some point during the work day, I lose faith the bot is still running and manually execute my sell order. I get home in the evening to discover the bot did indeed die.

In all

[2018-01-18 06:41] ghost opened #1714 "Binance Error"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Tried to run using @cmroche branch product_updates using candle sizes from 1-5 mins.

* **Expected result** (what you hoped would happen)
buys to go th

[2018-01-18 08:10] ghost commented on #1714
I suppose this could be fixed by changing the trade strat to market orders instead of limit so they fill instantly. If anyone could explain this I would appreciate it. Thanks!

[2018-01-18 08:20] omega733 commented on #610
@RomaJZ    I  will ask  do  i can Share BB startegie  but  is  same  results for  me.  Backtest is AMAZING   but in reality is note  same.... regards

[2018-01-18 09:08] baswientjes commented on #1535
Same question here.

[2018-01-18 09:23] Tigel commented on #1535
Try (worked for me):
sudo apt-get install curl
curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -
sudo apt-get install -y nodejs

found here: https://github.com/askmike/gekko/wiki/How-to-setup-VPS-on-Vultr.com-and-run-Gekko

[2018-01-18 09:25] baswientjes commented on #1535
Yep, just tried it myself, works like a charm. Thanks!

[2018-01-18 11:13] blast1987 commented on #1049
For me it's not working, i am using sgnac config but what i get is:

5/gekko/#/home:1 WebSocket connection to 'wss://myhost:3000/api/' failed: WebSocket is closed before the connection is established.

Gekko connects to the UI but it seem that from external host gekko still tries to go on port 3000 for the APIs...
 to make this work it has to go on the same port  (and parth+/api) i connect from ex

[2018-01-18 11:17] blastbeng opened #1715 "Gekko APIs + UI from apache proxy not working"
I'm referring to this:

https://github.com/askmike/gekko/issues/1049

I am using sgnac config but what i get is:

5/gekko/#/home:1 WebSocket connection to 'wss://myhost:3000/api/' failed: WebSocket is closed before the connection is established.

Gekko connects to the UI but it seem that from external host gekko still tries to go on port 3000 for the APIs...
to make this work it has to go on the s

[2018-01-18 11:46] talentoscope opened #1716 "[BUG] Trend reversal with open orders does not cancel them"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Live gekko trader on Kraken.
Short advice is passed from the strategy. Gekko places a sell order.
Sell order fails to execute and in that time, the next

[2018-01-18 12:06] Mattiell0X commented on #1701
Sincerely in my opinion this profit did not come from the strategy but rather because 2 weeks ago the XRP had a high price history almost tripled, and only fact to have a long that was opened at the right time and closed at the right time depending on the value purchased it would profit easily. So do not be fooled by these data ... this guy is rolling, if it was some real strategy, this guy would

[2018-01-18 13:03] kifirkin opened #1717 "Postgres error: schema does not exist"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Run Gekko UI with `postgres` as database backend and start Live Gekko

* **Expected result** (what you hoped would happen)
Gekko starts

* **Actual resu

[2018-01-18 13:33] cmroche commented on #1712
Error code 400 means there is a data error. @mvanbosc @dwarda are you using pull request #1550 for this? If not then I suspect you might have bad market configurations and are not sending the correct lot sizes in the buy and sell orders. Please try that PR and let me know if it corrects your issues.

Also, can you turn on debug in your config files to see what is being passed to the exchange. If y

[2018-01-18 13:34] cmroche commented on #1712
Oh sorry i just realized what this is, it’s your time synch.. people using the binance API are starting to report this problems in large number, look at my answer at issue #1663 for the solution. Your internal clock has drifted by more than 1 second now you need to set it up to sync more than once a day.

TLDR do what it says here

http://www.thewindowsclub.com/change-internet-time-update-interval

[2018-01-18 13:37] cmroche commented on #1663
@storshun If you are using the gekko UI, modify the file `web/routes/baseConfig.js` and set `config.debug = true`

[2018-01-18 13:42] cmroche commented on #1663
@storshun Possibly it could be fixed, but it would mean implement a time syncrhonization client directly into the binance module, then modifying that to read this synchronized value as opposed to reading the system time. Given the difficulties this may not be unreasonable, but it is a bit outside the scope of Gekko. I think you would need to implement it directly as part of this project https://gi

[2018-01-18 14:55] wupeng1211 commented on #1701
@mrrobots @tsuperprince @mauroprojetos @aorfevre ![screenshot-2018-1-18 gekko](https://user-images.githubusercontent.com/6904999/35104037-a23374a0-fca2-11e7-8639-bbd9b98c8bcf.png)

[2018-01-18 15:03] wupeng1211 commented on #1701
![screenshot-2018-1-18 gekko 1](https://user-images.githubusercontent.com/6904999/35104398-af4c31da-fca3-11e7-9ffe-43460e83725a.png)

[2018-01-18 15:05] smamet commented on #1558
I am having the same issue on Poloniex (didn't try other market places).

I compared data in Poloniex and noticed a 5h delay between real order execution and the dot displayed on graph.

If I do -5h on dots in graph it matched the price line which confirms the 5h delay.

TImezones config on my side are as follows :

- My local pc - GMT+4
- Server (with gekko) - America/Montreal

Any idea ?

Thanks

[2018-01-18 15:35] blastbeng opened #1718 "command line import not working"
Hello,
i am trying to import LTC\EUR from GDAX
looks like gekko cmd import is not working anymore

when importing from the UI all is working correctly, the db is created under /history folder

but if i try to run this command:
     node gekko.js -i -c config.js

i can see the importer running in console, but nothing is saved under history folder

my config.js:

adapter: sqlite
config.importer = {

[2018-01-18 15:43] smamet commented on #1558
Maybe it come's from this :
-> exchanges/poloniex.js L216

![image](https://user-images.githubusercontent.com/1436778/35106468-b83c52a0-fc87-11e7-8290-437e0dc8b271.png)

[2018-01-18 15:59] blastbeng commented on #1718
you can close this... i forgot to enable candle writer

[2018-01-18 15:59] #1718 closed, assigned to nobody

[2018-01-18 17:43] davidlimap commented on #1715
Did you try to follow the manual? https://gekko.wizb.it/docs/installation/installing_gekko_on_a_server.html

[2018-01-18 17:44] blastbeng commented on #1715
Yes, i've also tried with nginx and got same result

[2018-01-18 18:25] talentoscope opened #1719 "[BUG] Gekko dies in live trading on Kraken 522 response"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

When trading live on Kraken, this happened (some redaction for security):
----

2018-01-18 17:58:18 (INFO):	BUY BUY BUY!!!
2018-01-18 17:58:18 (INFO):	Bought @  1529.7
2018-01-18 17:58:1

[2018-01-18 18:32] dwarda commented on #1712
@cmroche Thank you for your support man. but your links are for windows 10. does it matter that im using a mac ?

[2018-01-18 18:40] joshtyIN commented on #1701
How can I get the Bestone strategy?

[2018-01-18 18:51] BenVlodgi commented on #1701
@wupeng1211 looks good man, hows it been performing in live paper trading?

[2018-01-18 19:49] cmroche commented on #1712
A little bit, but OS X does have settings for this so where, worth checking. Sorry I cannot tell you offhand where time should synchronization is setup.

If you do not think this is the issue in your case enable debug logging and send the full output when you get the error please.

[2018-01-18 20:20] GO1984 commented on #441
Is there already a strategy called: „ [LAVA] Renko Mod „for GEKKO?
I am searching for a renko code snipped, maybe someone can help me out?

[2018-01-18 20:28] albertabello commented on #1715
You can always run it locally and make an SSH tunnel, safer and simple

[2018-01-18 20:29] dwarda commented on #1712
@cmroche I tried all of the suggestion in the other link. uninstalling and re-installing binance. changing some numbers in binance.js as suggested but nothing seems to work. based on time.gov my mac time doesn't seem to be drifting. I am still getting the same error. so as you said, I don't think the time drifting is the issue I'm having. however I don't really know anything about programming, so

[2018-01-18 20:44] josoroma-zz opened #1722 "A question, how does gekko traderbot handle purchases?"
Does the bot handle the initial purchase, or is it a trader action?

Thanks in advance!

[2018-01-18 20:56] werkkrew commented on #1689
I believe I have narrowed this down a bit and I don't think it is necessarily unique to GDAX.

Once a strategy gets sufficiently complicated it seems like if certain things can't happen fast enough between the "tickrate" timeframe, Gekko starts to act strange.

In this case of this snippet the tickrate was set to 5.  If I increased it to 20, it behaved more like I expected.

Once my strategy got e

[2018-01-18 21:00] dwarda commented on #1712
@cmroche I think I found the error that you asked for.
I hope this is it
[2018-01-18-19-45-UTC-tradebot.log](https://github.com/askmike/gekko/files/1644419/2018-01-18-19-45-UTC-tradebot.log)

[2018-01-18 21:06] ghost commented on #1716
Exact problem happened to me with binance @cmroche -- If you can tell me how to change the 'LIMIT' order to a 'MARKET' order that'd be extremely appreciated.

[2018-01-18 21:08] hilkoc opened #1723 "Trader places orders with incorrect amounts for Asset and Currency."
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Run a live trade bot to trade XBTEUR on Kraken

* **Expected result** (what you hoped would happen)
Orders executed correctly.

* **Actual result** (un

[2018-01-18 21:14] josoroma-zz commented on #1588
@coralgulf please share your findings pal.

Does the bot handle the initial purchase, or is it a trader action?

Thanks!

[2018-01-18 21:36] BitKwik commented on #1252
Thanks! I will give it a try

[2018-01-18 22:01] ghost commented on #1714
2018-01-18 12:26:01 (INFO):     SELL order was not (fully) filled, cancelling and creating new order
2018-01-18 12:26:02 (DEBUG):    [binance.js] entering "cancelOrder" callback after api call, err null data:

this happens over and over again (5 min candle rsi)

[2018-01-18 22:24] ansonphong commented on #1679
After pulling the latest `stable` branch and running that, I'm still getting the same issue, `unable to stitch datasets` on Binance. Is this something which anybody else is able to get working?

[code]

[2018-01-18 22:27] ansonphong commented on #1679
OK I managed to fix this by running the importer on command line `RIGHT BEFORE` running the Trader, now it seems to be stitching properly.

[2018-01-18 22:27] #1679 closed, assigned to nobody

[2018-01-18 23:58] hilkoc commented on #1522
DId you manage to get the logging working?
I've got the same problem now. I did an update to latest of develop branch and now the UI does not produce log files anymore!

[2018-01-19 01:30] josoroma-zz commented on #1722
Ok, gotcha!

![image](https://user-images.githubusercontent.com/69951/35130348-f98b8db8-fc85-11e7-8028-b91bd1304338.png)

[2018-01-19 01:41] stfnschfr commented on #1701
Very nice! I'm working on a custom strat using RSI + MACD + Bollinger bands but haven't had success like this.

Bravo.

[2018-01-19 03:33] sombraSoft commented on #1302
@haqpl use node 7.x, that should fix your problem.

[2018-01-19 04:55] storshun commented on #1712
@dwarda go to this website and see what it says your time drift is:
https://time.is/
It's located near the top left. If the number is 0.300 or larger, your time is too far off and you'll have these errors. Use a program like Dimension4 to select a time server, click the "settings" button and choose "How Often" and set it to "Every" and 1 minute.
![image](https://user-images.githubusercontent.com/3

[2018-01-19 04:59] storshun commented on #1663
Understood. Thanks for your help in getting this resolved. I added some info into #1712 as well with how I resolved it with a time sync client. So far, the platform has been infinitely more stable than in all days prior.  Got an xrp or eth address I could give you a tip?

[2018-01-19 06:08] ansonphong commented on #1722
The `Tradebot` does both buying and selling. You can reference the [documentation](https://gekko.wizb.it/docs/introduction/about_gekko.html) for more details.

[2018-01-19 06:47] stefano-neri opened #1724 "Gekko dies on trading XRP/BTC on bitfinex"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Started live trading for BTC/XRP on Bitfinex. Bot starts and buys XRP. Still, the bot will try to buy XRP at next Signal and since the amount then is to

[2018-01-19 06:54] Kakkerlakkie opened #1725 "Poloniex sell order based on highest buy"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
When the bot place a sell order the order is based on the highest sell, I would like to change this to highest buy, but I can't find this in the code. C

[2018-01-19 08:14] GO1984 commented on #1312
Thank you for sharing your thougts and your solution. It helped me too.

[2018-01-19 08:32] GO1984 commented on #847
I'm new to gekko using the UI and i have the same problem. How to add new strategies to the new UI?
Do i have to use the custom.js? If so, how to add multiple new/own strategies?

[2018-01-19 09:26] JasLin commented on #789
@FLYBYME was it overfitting?

[2018-01-19 09:28] dramida commented on #789
If you try to develop AI for crypto stock prediction, you are hurting yourself if you don't see Siraj Raval videos regarding Deep Neural Network and crypto price prediction:

https://youtu.be/G5Mx7yYdEhE

[2018-01-19 10:08] blastbeng commented on #1715
@albertabello
actually i am running it over a VPN, but i'd like to simply access it with apache basic auth using SSL.. simpler and faster

i can't access it using a vpn everywhere, just on my personal machines

[2018-01-19 10:34] laravellously commented on #1707
@bendake You just have to create your own strategy (say, MyStrat.js) and save it to the /strategies folder. Then edit the config.js in the root folder of gekko-stable, to include your strategy (in config.TradingAdvisor.method) and your exchange/currency pair (in config.watch) . To run the bot, use in Bash `node gekko -c config.js`. Hope that helps.

[2018-01-19 10:40] aaslun commented on #1696
+1 on this problem. Attempting to install on my Raspberry Pi Model B.
Gekko version: v0.5.12
Nodejs version: v8.9.4
Stuck in the exact same place as @gekkotrader with failed imports due to sqlite3 cannot be installed with npm.

[2018-01-19 11:05] bitkominer commented on #1725
Hi, till someone from dev team gives an official answer, you might try by yourself to modify portfolioManager.js (the file is inside folder: \plugin\trader\).

Go to section "var act = function()", then modify as following code:

`
if(what === 'BUY') {

      amount = this.getBalance(this.currency) / this.ticker.ask;
      if(amount > 0){
          price = this.ticker.ask;
          this.buy(amoun

[2018-01-19 11:09] blastbeng opened #1727 "Gekko trader bot GDAX - QUERY_DELAY not defined"
Hello,
i think gdax trader has an undefined variable

i solved that by adding

const QUERY_DELAY = 350;

at line 9

          }, QUERY_DELAY);
             ^

ReferenceError: QUERY_DELAY is not defined
    at Trader.process (/gekko/exchanges/gdax.js:256:14)
    at bound (/gekko/node_modules/lodash/dist/lodash.js:729:21)
    at /gekko/core/util.js:28:7
    at /gekko/exchanges/gdax.js:92:12
    at R

[2018-01-19 11:50] Kakkerlakkie commented on #1725
Thanks, very clear explanation and im gonna try this with the bot!

[2018-01-19 11:54] bitkominer commented on #1723
I think it's correct amount. The one you need to modify is the list of minimum amount mentioned inside file: kraken.js (find it in folder: \exchanges\).

`
 //Tradeable against XBT
      { pair: ['BCH', 'XBT'], minimalOrder: { amount: 0.01, unit: 'asset' }, precision: 5 },
      { pair: ['CAD', 'XBT'], minimalOrder: { amount: 0.1, unit: 'asset' }, precision: 1 },
      { pair: ['EUR', 'XBT'], mini

[2018-01-19 12:00] federosso commented on #1701
it could be that he integrated this:
https://github.com/wupeng1211/convnetjs
 into his strategy ..
Some big mind willing to try?

[2018-01-19 13:03] bitkominer commented on #1701
Hi @wupeng1211, would you like to share with us how to set it up? It's such a wonderful backtest result. Thanks!

[2018-01-19 13:19] aaslun commented on #1696
@gekkotrader and anyone else who might have the same problem, I think I've found a solution:
1. Navigate to the gekko install dir
2. Make sure you have the permissions set properly, if you're running as pi user (which you should, running as root is not recommended). To set user permissions run: `chown -R pi:pi .` This is particularly important on the node_modules directory or the install of sqlite

[2018-01-19 13:39] rumrush opened #1728 "Inconsistency between live paper trader and backtest."
* **I'm submitting a ...**
[ X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I've perform a live paper trade for a couple of hours with my bot and compared the result with a backtest paper trade on exactly the same data that the live paper trader received.

* **Expected result** (what you hoped would happen)
When fed wit

[2018-01-19 14:20] Webunity commented on #1299
There is a GIST here, but that doesn't work (yet) for me:
https://gist.githubusercontent.com/John1231983/13930f6af2f586a820c3e7e6e7a1b65b/raw/4d404a364dec4213c7baaa83e009466d26623669/RSI_customer.js

[2018-01-19 14:40] gvdhoven commented on #1299
I came to this, but it isn't ideal yet: https://gist.github.com/Webunity/04ce2a1a8cb34da726b9fd111db12717

It runs in the commandline but not in the web interface. Don't know why yet.

[2018-01-19 15:03] dwarda commented on #1712
@srotshun, thank you for your input. Based on that website, my Mac is 0.18 behind in time, is that significant ? And Dimension 4 is only for windows, it didn’t work on my MacBook. I wasn’t able to find a sync app for Mac. Do you know any ?

[2018-01-19 15:10] kazi308 opened #1729 "Unable to access /api/backtest"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Enabled headless and api mode as per https://gekko.wizb.it/docs/installation/installing_gekko_on_a_server.html#configuring-gekko-to-run-in-the-cloud
Acc

[2018-01-19 15:12] mauroprojetos commented on #1299
Friend ,
create file in  gekko/config/strategies/RSI-overbought.toml

interval = 14
[thresholds]
low = 30
high = 70
persistence = 1

[2018-01-19 15:18] hilkoc commented on #1723
Thanks @bitkominer . I was looking through the src and indeed I see this error text is raised after checking the minimum amount.
I did an update to the latest of the develop branch. This pulled in the correct minimum amounts for Kraken, 0.02 XBT.
But now I can't see if it actually works because a new problem occurred.  I can't see any logging when running a live tradebot from the UI?  Before I pul

[2018-01-19 15:21] #1688 closed, assigned to nobody

[2018-01-19 15:59] ghost opened #1730 "Binance -- another issue (UI)"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Ran on binance with 5 min candle (RSI)

* **Expected result** (what you hoped would happen)
bot works as expected

* **Actual result** (unexpected outc

[2018-01-19 17:13] christhecanadien commented on #1173
Have downloaded the lastest stable version 2 days ago to trade with Binance
I ran the bot live and I have the same issue:

_Uncaught TypeError: Cannot read property 'toLowerCase' of undefined
    at Oe.e.$emit (build.js:6)
    at a.s.onmessage (build.js:6)
    at HTMLDivElement.<anonymous> (reconnecting-websocket.min.js:2)
    at WebSocket.h.onmessage (reconnecting-websocket.min.js:2)_

It gets fe

[2018-01-19 17:17] askmike commented on #1173
@christhecanadien please download the latest version on the develop branch here: https://github.com/askmike/gekko

I will push out a new release soon.

[2018-01-19 17:19] nazab commented on #1173
I can tell that it works with binance I run it LIVE now .

[2018-01-19 17:33] #1722 closed, assigned to nobody

[2018-01-19 17:39] christhecanadien opened #1731 "Tradebot live / paper trader live on Binance"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I ran a paper trader live on Binance and it works pretty good except few error in the console but witch seems to not affect the trading. I get buy and

[2018-01-19 17:55] zzmike76 opened #1732 "[request] Logs display within UI"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[X] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Started paper trading in UI
Started paper trading via command line

* **Expected result** (what you hoped would happen)
Display some logs in the UI to u

[2018-01-19 18:04] christhecanadien commented on #1173
@askmike I did download the latest dev branch as you recommand and I get this after few minutes:
UI:
![capture d ecran 2018-01-19 a 13 00 21](https://user-images.githubusercontent.com/35551370/35164616-140fbff4-fd19-11e7-8837-c943728ec241.png)
Terminal:
![capture d ecran 2018-01-19 a 13 03 16](https://user-images.githubusercontent.com/35551370/35164638-2a2be4c0-fd19-11e7-9bda-d62859f2cb4a.png)

I'

[2018-01-19 18:18] askmike commented on #1173
@christhecanadien please upload the log file found inside the logs folder somewhere and link to it here.

[2018-01-19 19:03] christhecanadien commented on #1173
@askmike Here is a log of the Stable Gekko... I don't have any log for the Dev branch gekko !
[2018-01-19-17-04-UTC-tradebot.log](https://github.com/askmike/gekko/files/1647607/2018-01-19-17-04-UTC-tradebot.log)

[2018-01-19 20:06] gvdhoven commented on #1728
Was the config also exactly thesame? I found out that the fees and slippage can be different between live/paper trading.

[2018-01-19 20:19] rumrush commented on #1728
Yes 0.1 fees and 0.05 slippage and my strategy doesn't expose any configs it's all hardcoded so the config is exactly the same. I also tested it on Binance and Bitfinex with similar results. Also for more info, I was running the strategy on 1m candles.

[2018-01-19 20:58] hilkoc opened #1733 "No logs created when running form UI"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Start a live trade bot.

* **Expected result** (what you hoped would happen)
A log file to be created in the gekko/logs/ directory.

* **Actual result*

[2018-01-19 21:14] hilkoc commented on #1733
@askmike  Looking at log entries between 0.5.12 and develop, I think it may have to do with (one of) these commits
3b5ba93
74ab11a
Could that be possible?

[2018-01-19 21:26] #1719 closed, assigned to nobody

[2018-01-19 22:50] askmike commented on #1732
I am going to do a major overhaul to the UI. Wouldn't it be better for the UI to give more details in a more visual way? The log is supposed to only contain debug information.

[2018-01-19 22:52] askmike commented on #1299
Great stuff! If further questions come up please ask them [here on the forum](https://forum.gekko.wizb.it/forum-12.html).

[2018-01-19 22:52] #1299 closed, assigned to nobody

[2018-01-20 01:02] christhecanadien commented on #1676
I have got the same error message:

![capture d ecran 2018-01-19 a 20 00 54](https://user-images.githubusercontent.com/35551370/35178098-7fbcdf18-fd53-11e7-903f-4b6c4f1addff.png)

tried to fix it with no success

Please help

[2018-01-20 04:30] mactac opened #1734 "I run gekko, and it starts on the command line but no window"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Installed, ran gekko with node gekko --ui

* **Expected result** (what you hoped would happen)

Expected a window to pop up with the UI

* **Actual resu

[2018-01-20 05:59] wupeng1211 commented on #1701
![screenshot_20180120-135823](https://user-images.githubusercontent.com/6904999/35180377-1f335a86-fdea-11e7-8c0b-2ba23a5e4e2d.png)

[2018-01-20 06:37] chopbk commented on #1701
Hi @wupeng1211, would you like to share with us how to set it up? Thanks!

[2018-01-20 08:13] Mattiell0X commented on #1701
Lets go to what matters! which strategy? Share it!

[2018-01-20 08:55] wupeng1211 commented on #1733
https://github.com/fhd/init-script-template

run gekko ui as service

[2018-01-20 10:05] BenVlodgi commented on #1734
did you go to the webaddress?
this uses a web ui hosted on your local machine at port 3000 http://localhost:3000/

[2018-01-20 10:29] cryptokoningen commented on #1410
In cryptotrading price is strongly related to social media. Mainly the pump and dump activity on telegram and the social buzz on twitter from OG traders and big data analysts.
It would be very nice to have an ability to read signals from these external sources. When ahead of the manual buyers there's an easy profit opportunity. Or maybe if Gekko could read from google doc spreadsheet to act as a i

[2018-01-20 11:45] bitkominer commented on #1734
Just open your web browser (firefox, chrome, etc.), then type the address: http://localhost:3000/

[2018-01-20 11:55] askmike commented on #1734
What @BenVlodgi suggested should work, very strange though.

[2018-01-20 11:55] #1734 closed, assigned to nobody

[2018-01-20 12:01] christhecanadien commented on #1712
Hi Guys, I'm having the same issue: [binance.js] Response code 400
According with Time.is my Mac is -0,006 sec drifted !!! Is it a big problem ?
Please heeeeelp !

[2018-01-20 12:35] gvdhoven opened #1735 "kraken.js - irrecoverable error: General:Invalid arguments:volume"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Started live trader via UI

* **Expected result** (what you hoped would happen)
Bot keeps trading in the background

* **Actual result** (unexpected out

[2018-01-20 15:16] WildcatKSS commented on #1107
I tried to implement the code but i got stuck. Do you have a sample of the code implemented in the basic DEMA strategy?

[2018-01-20 15:24] salimelakoui commented on #789
I would like to share some code with you guys.

The main concept is to identify "normal moment" and "random moments" in order to invest.

Who would be intrested ?

Send your emails at salim.elakoui@nway.org

[2018-01-20 16:09] cmroche commented on #1712
There is a change now pushed to npm to enable Binance server synchronization. Part of the problem may simply be that Binance's time is also a little bit out exacerbating the issue. I'll integrate these changes and add the new feature to our Binance implementation this afternoon and provide the PR once ready.

See here: https://github.com/aarongarvey/binance/issues/23

[2018-01-20 16:11] cmroche commented on #1663
Folks, to simplify things a bit I'm going to move the conversation about time sync issue over to issue #1712. An update will come this afternoon likely with a time sync feature to help manage this.

[2018-01-20 16:15] cmroche commented on #1714
@mvanbosc

Yeah, that's pretty normal behaviour, it's cancelling so it can adjust the price of the order. If you want to do market orders that is possible, but be careful since you can get a lot of slippage with high volume.

In binance.js in the function addOrder, around line 236 change `type: 'LIMIT'` to `type: 'MARKET'` and your orders will fill immediately.

I'll bring this to a config file ne

[2018-01-20 16:36] fouman75 commented on #1735
You might want to look at exchanges/kraken.js around line 330. You can change the minimum amount for your currency pair.

Check out this Kraken page: https://support.kraken.com/hc/en-us/articles/205893708-What-is-the-minimum-order-size-

You might want to try with min amount 0.02 for XBT/EOS based on the above site.

You might also look at this site to adjust the precision.
https://blog.kraken.com

[2018-01-20 18:06] cmroche commented on #1716
See notes in #1714 for Kraken in kraken.js the addOrder function, around line 276 change `ordertype: 'limit',` to `ordertype: 'market',`.

Keep in mind that this will increase your slippage, I'll possibly add a config option for this in the near future, as well as look at  config option to allow orders to stick around a bit longer before cancelling to change the price.

[2018-01-20 18:11] mactac commented on #1734
I did go to the address, it says not found.

I realized that I'm using windows 10, and there seems to be different instructions for that.

So, I used a different computer, went through the windows 10 install process & it worked.... until my computer rebooted.   Now I get the same thing - when I go to the address, it says page not found.

[2018-01-20 18:13] mactac commented on #1734
Also, when I try to restart gekko, I get "cannot find module 'home/gekko/gekko'

But it did work the first time, until I rebooted.

[2018-01-20 18:18] Pimouskipick opened #1738 "Mac Bash : Failed installation"
* **I'm submitting a ...**
[V] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)

Hey everyone ! I am new to the community and i am having some trouble installing gekko, im running on OS X Yosemite, and every time i try to install gekko following the https://gekko.wizb.it/docs/installation/installing_gekko.html instructions, i

[2018-01-20 18:18] davidlimap opened #1739 "Renko Strategy"
Is it possible to use Renko strategy in gekko? How to make?

[2018-01-20 18:18] mactac opened #1740 "Does not function after reboot"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did

I installed gekko on windows 10, It worked fine as far as I could tell.

* **Expected result** (what you hoped would happen)

Rebooted my computer tried

[2018-01-20 18:25] talentoscope commented on #1716
Thanks for the heads up. I'm not happy about using market orders, so will just go for longer candles. Surprised this issue didn't come up in search. Bad Github! :)

[2018-01-20 18:35] ghost commented on #1714
@cmroche when I change the order type to MARKET it crashes with some 4xx error - I can check when home. Thanks for the reponse!!

[2018-01-20 18:37] gvdhoven commented on #1735
@fouman75 according to their page, the XBT/EOS need to be 3(!), not 0.02. As you can see i tried to buy 0.5 which is higher then 0.02 and that failed. According to Kraken site:

So the file needs to be updated according to the minimums mentioned over there.

[2018-01-20 18:38] cmroche commented on #1714
@mvanbosc Their documenation is not clear on this point, but you might have to remove the timeInForce and price fields from the order request.

[2018-01-20 18:45] ghost commented on #1714
@cmroche Tried both of those looking through their documentation - if you find anything that would be a great help <3!

[2018-01-20 20:13] cmroche commented on #1716
@xteejx Actually I think there is a bug in order management that could still happen with longer candles, especially if using Kraken due to service issues.

I'm going to try to build a fix for this, though I don't have an easy way to test it. I'll post the PR here once it is ready.

[2018-01-20 20:16] talentoscope commented on #1716
Understandable, gekko trying to cancel orders that weren't created due to exchange issues. Makes sense with what I've been experiencing, even a very short outage could cause problems. Kraken need to sort it out! I can test the PR here if it helps?

[2018-01-20 20:18] cmroche commented on #1716
That's the plan, but it may take a day or two to sort this out.. it's a tricky problem.

[2018-01-20 20:20] talentoscope commented on #1716
No problem. If I don't respond here, just give me a shout on discord :)

[2018-01-20 21:52] bakman2 commented on #1712
FYI if you accessed the binance api before with another tool, the nonce time could be off by a factor 1000 (microseconds vs milliseconds) - this requires you to generate new keys.
For ntp use pool.ntp.org

[2018-01-21 03:00] ghost opened #1743 "Binance.js unable to do market orders"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)

Changed Binance.js to use 'MARKET' buys instead of limit (I deleted the price and one other setting I forget but I checked the API -- sorry I'm mobile

[2018-01-21 03:21] wupeng1211 opened #1744 "Live Gekko in ui can't load local data?"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)

* **Expected result** (what you hoped would happen)

* **Actual result** (unexpected outcome)

* **Other information** (e.g. detailed explanation, stac

[2018-01-21 05:24] gekkotrader commented on #1696
Thank you @aaslun ! Your fix worked for me as well.

[2018-01-21 05:24] #1696 closed

[2018-01-21 08:26] bendake commented on #1707
@laravellously yes that does help thank you, If the JS is complex and does a lot of API calls, changes things constantly and loops through the code, will gekko handle that, or is it just for TA? Can I do what I described in the original post and buy and place orders and then cancel those orders based on the JS code?

[2018-01-21 11:26] cyow opened #1745 "Creating Files Strategies Error: EACCES: permission denied open with Windows Bash"
Note: for support questions, please join our Discord server

I'm submitting a ...
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

Action taken (what you did)

I am using Windows 10 accessing gekko via Bash.exe, edited the files to configure as indicated in the issue but when I try to run it presents the errors in the files I edited, will I have to update

[2018-01-21 12:09] tommiehansen opened #1746 "Centralized repo for data"
* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository

* **Other information**
Implement the ability to download data sets from a centralized repo such as Github.

* **Why?**
1. Because the idea that each and every person that uses Gekko should download it's own data sets isn't that great. It's a good thing one can but the standard sh

[2018-01-21 13:27] askmike commented on #1734
What browser are you using? Please try this with either Firefox or Chrome.

Everytime your computer restarts you need to start Gekko manually again.

Please post a screenshot or so from your commandline prompt.

----

Note that right now Gekko is very hard to install and manage, I am working on a "hosted" version in the cloud that does not require any setup or installation (for a monthly fee), wou

[2018-01-21 13:55] krieghof opened #1748 "I made a Heiken-Ashi Indicator"
I made an Indicator that calculates Heiken-Ashi candles, the open, close, high and low.

It could be possible that there is an error in the code, i coded it quickly and dirty.
But I may improve it over time.

In your strat.js
[code]

Have fun!!
#1747

Hope this is not against the guidelines, if it is so, I will remove this.
But if you want to give me a tip, I would appreciate it.
BTC - 1MgHDnQJ5k2

[2018-01-21 14:12] askmike commented on #1748
Awesome stuff! Let's keep the discussion in #1747 :)

[2018-01-21 14:12] #1748 closed, assigned to nobody

[2018-01-21 14:13] askmike commented on #1745
Can @thegamecat way in maybe? I have little experience with Windows Bash.

[2018-01-21 14:13] askmike commented on #1744
Hey! Can you be a bit more specific?

[2018-01-21 14:19] askmike commented on #1663
@joaosauer: @cmroche's fix has been merged into develop, please try that and report back if the problem still persists.

[2018-01-21 14:19] #1663 closed, assigned to nobody

[2018-01-21 14:20] askmike commented on #1712
@dwarda: @cmroche's fix has been merged into develop, please try that and report back if the problem still persists.

[2018-01-21 14:20] #1712 closed, assigned to nobody

[2018-01-21 14:21] askmike commented on #1743
@mvanbosc The current execution strategy of Gekko is not supposed to do market orders, see here: https://gekko.wizb.it/docs/introduction/scope.html#Execution-strategy

As for the problem you experienced, can you check if it is fixed in #1737?

[2018-01-21 14:22] cyow commented on #1745
ok teacher !

[2018-01-21 14:24] askmike commented on #1707
@bendake you can script whatever you want in your strategy (does not need to use TA), HOWEVER:

Your strategy cannot control how orders get executed, it can only "advice" when to buy or sell. I am working on modularising Gekko to be able to do other things like what you describe.

Yes: you can put whatever type of js in your strategy, do note: if you put anything in there that relies on anything e

[2018-01-21 14:25] askmike commented on #1707
I would love to continue the discussion (on extending Gekko to do things like requested here). However this issue tracker is not the best place. If you want to talk more about extending Gekko please post here: https://forum.gekko.wizb.it/forum-15.html

[2018-01-21 14:25] #1707 closed, assigned to nobody

[2018-01-21 14:26] askmike commented on #1621
Closing this since it's not an open issue (but please keep on commenting).

[2018-01-21 14:26] #1621 closed, assigned to nobody

[2018-01-21 14:28] askmike commented on #1621
@greenbigfrog there was an IRC channel at some point and there is a discord channel now: https://discord.gg/26wMygt

However the main problem with realtime channels (for me personally) is that I can almost never be logged in (in realtime), so it's a terrible platform for me personally.

[2018-01-21 14:29] greenbigfrog commented on #1621
Totally understandable. It would help to have some structure/moderating in the discord though.

[2018-01-21 14:33] askmike commented on #1621
@greenbigfrog I (think I) made you admin now :)

[2018-01-21 14:43] greenbigfrog commented on #1621
Please check discord.

[2018-01-21 15:41] TheAISlop opened #1749 "Wrong Buy Order on Custom USDT"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Using Gekko custom to place USDT order on Kraken.  Using 1.0050

* **Expected result** (what you hoped would happen)
Order should show up as 1.0050

*

[2018-01-21 16:20] cmroche commented on #1749
The precision is set wrong for this market, currently 2 and should be 4.

This is fixed in PR #1550 which uses a script to generate the correct market configurations from the exchange web API, alternatively you can open kraken.js on your local build, find the market for USDUSDT near the bottom and change `precisions: 2` to `precision: 4`. This will fix your clamping issues.

[2018-01-21 16:33] Apzeltukas opened #1751 "events.js:183 throw er; // Unhandled 'error' event Error: SQLITE_BUSY: database is locked"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Start a new gekko->choose *kraken*, currency:*USD*, asset:*BCH*, type and strategy does not matter. Press *start*.

* **Expected result** (what you hope

[2018-01-21 16:34] LobodaCrypto commented on #1733
Same issue.
I could saw the logs before using gekko in running UI.
But, I have just update for binance( Gekko v0.5.12, Commits on Jan 21, 2018, develop branch),
I can't see log files in logs directory.
Please let me know kindly.
Thanks.

[2018-01-21 16:42] cmroche commented on #1751
Generally speaking this means you have multiple processes trying to write to the same DB file at once. SQLITE *CAN* manage this, but operations may block one another and so it isn't abnormal to see this if you have multiple watchers or importers (especially with importers) running at once.

There is no real perfect solution for this, multiple processes acting on the same database needs a high leve

[2018-01-21 16:56] cmroche commented on #1746
Note that this would likely be against the ToS of most exchanges. They do not allow you to redistribute their market data.

[2018-01-21 16:58] coltac commented on #1733
Same here, no log files.  I cant find what is different.

[2018-01-21 17:04] LobodaCrypto commented on #1733
In this commit  3b5ba93, I have just use original code.
Then, generate the log files.

[2018-01-21 18:26] mactac opened #1753 "Just stops working"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)

Run A tradebot

* **Expected result** (what you hoped would happen)

Expected it to keep running

* **Actual result** (unexpected outcome)
Just silently

[2018-01-21 18:29] mactac opened #1754 "Does not trade complete Balance"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)

Using one of the default strategies, running a tradebot

* **Expected result** (what you hoped would happen)

Expect it to trade out my entire balance

[2018-01-21 19:25] mactac commented on #1753
Here's another thing that I noticed.  When it stops, if I go back to bash, and hit CTRL-C, it's put through a whole bunch (10?) of POSTS... then stop again.  If I hit CTL-C again, it'll do the same.  Then, if I hit it a 3rd time, it'll stop the program.

The program seem unusable if it just keeps dying randomly.

[2018-01-21 20:22] thisisloze commented on #1299
None of these fixes really work.

[2018-01-21 20:47] coltac commented on #1703
I am still getting the [MIN_NOTIONAL] error while trading on binance.

[2018-01-21 21:08] zzmike76 commented on #1732
yes i was just wondering whether the background process could output to the UI just to see what's happening.

[2018-01-21 21:11] cmroche commented on #1703
Debug output please.

[2018-01-21 21:12] Apzeltukas commented on #1751
as far as i know there should be no multiple processes.
example - i close gekko from cmd with ctrl+c and i close the browser window. this should terminate all processes, right? then i restart gekko from cmd, open browser, do not do anything else, first thing i go to live gekkos, i see *You are currently not watching any markets.* and *You are currently not running any strategies.*, as it should be

[2018-01-21 21:18] #1714 closed, assigned to nobody

[2018-01-21 21:24] cmroche commented on #1751
There may be still processes open in the background, or perhaps a file lock wasn't cleared due to a crash in the engine (though I am less inclined to think that is possible). SQLITE detects writing activity by using file locking on the DB, assuming you are using NTFS (FAT has bugs in the file locking mechanisms) than the only way this error should be possible is by a lock being set by another proc

[2018-01-21 21:33] askmike commented on #1740
See my comment here: https://github.com/askmike/gekko/issues/1734#issuecomment-359248369

[2018-01-21 21:34] askmike commented on #1753
Please post screenshots or logs, we can't see your screen from here.

[2018-01-21 21:35] askmike commented on #1738
Your problem is not having nodejs installed properly. May I suggest installing nodejs via nvm (see [here](https://github.com/creationix/nvm)), run this:

    curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.8/install.sh | bash

After that run:

    nvm install 8.9.4

[2018-01-21 21:35] #1738 closed, assigned to nobody

[2018-01-21 21:51] askmike commented on #1733
Oops! This is now fixed in latest develop, see #1755.

[2018-01-21 21:51] askmike commented on #1733
Closing this already, I'll push a new release out within the next hour :)

[2018-01-21 21:51] #1733 closed, assigned to nobody

[2018-01-21 21:53] coltac commented on #1703
Okay, i figured out that i just had to manually set the amount to trade in binance.js to solve the MIN_NOTIONAL error (I think i have fixed that, i thought i had changed it, and did a npm install binance and broke my fix)  The other error is :

/home/colt/Desktop/gekko-develop/node_modules/binance/lib/rest.js:78
                    if (response.statusCode === 400 && payload.code === -1021 &&

[2018-01-22 00:26] mactac commented on #1753
There really isn't anything to see.  It just stops doing anything.    Web page looks like it's running, but there is nothing going on in the bash window after a certain period.  If I restart it, it works.. for a while, then stops.

It doesn't seem to be creating a log for some reason.  Do I have to turn on logging?

[2018-01-22 01:22] ghost opened #1757 "Newest Merge/Update removed binance on Develop"
Binance has been removed (from UI at least) in the latest file moving @askmike @cmroche

[2018-01-22 01:35] cmroche commented on #1757
Probably due to a script error, there was a big merge a few hours ago. It's late now, but I'll look into this tomorrow.

[2018-01-22 02:04] cmroche commented on #1757
@mvanbosc Bug also present for Kraken and Bitfinex, would you update the issue title please. Fix is incoming soon.

[2018-01-22 02:11] cmroche commented on #1754
This isn't really abnormal behaviour due to lot sizing rules in place by most exchanges will generally mean you can not trade everything.

I can confirm that Binance, Bitfinex, Bittrex and Kraken all do this, even if you are trading through a web interface. Are you certain this is not the issue?

[2018-01-22 02:14] cmroche commented on #1745
Can you try `chmod -R 777 *` from the gekko directory in bash? Does that fix the issue? If not, what was the result of the command, more permission issue?

[2018-01-22 02:16] cmroche commented on #1735
We recently merged PR #1550 into the develop branch which uses a script and properly populates order amount for Kraken. Please sync the develop branch and give that a try as I suspect it will fix this issue.

[2018-01-22 02:17] cmroche commented on #1727
@blast1987 Thanks, looks like a bad merge.. had another similar issue recently. I'll send a PR with a fix.

[2018-01-22 02:20] keat84 commented on #1757
Mean we cannot use Gekko for Binance anymore?!

[2018-01-22 02:21] cmroche commented on #1757
@keat84 Pull request with the fix is pending, please take a look at the change in #1758. It is very simple and you can fix the issue locally by making the same modification in your system until the PR is merged. :)

[2018-01-22 02:25] cmroche commented on #1724
This was likely fixed in PR #1550 which was merged into the develop branch today, please sync the develop branch and confirm if that fixes your issue.

[2018-01-22 03:02] jamesalbert commented on #741
@askmike I made the same change you just did, but when I change it back to 'scan', it gives this error:
[code]

edit: as soon as I post on github, I figured it out. Fat fingered datarange instead of daterange

[2018-01-22 04:41] mactac opened #1760 "Duplicate Runner appears after a couple of hours"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)

Ran traderbot

* **Expected result** (what you hoped would happen)

Expected to run normally

* **Actual result** (unexpected outcome)

After a couple

[2018-01-22 07:12] tommiehansen commented on #1746
I've read a couple of ToS and 'legal' on the relevant sites. Many of them have general copyright rules that are very much a sort of copy-and-paste. In essence one would need a written consent to republish data from the API's so it would seem the solution is just to write E-mails about converting and updating the data to SQLite etc (derivative work).

[2018-01-22 10:27] arisuryo commented on #1252
hi..@bitkominer, i have gekko installed in my rpi3 but till now i havent use it to trade in real market.i dont have any knowledge regarding programing,i only use it bactest in ui mode. how can i use your strat in UI mode, which part of the script needs to modified, and also i trade in indonesian currency.Thank  you.

[2018-01-22 12:48] didasy commented on #1744
I think he want Gekko tradebot to be able to read local data instead of relying on watcher for data feed. Probably bothered by the "Not enough data" warning in the page.

[2018-01-22 14:50] unstephenk commented on #1757
added the changes applied in #1758 but now:
`TypeError: this.binance.startTimeSync is not a function`

Is anyone else experiencing this issue or am I alone?

[2018-01-22 17:18] mactac commented on #1754
perhaps I do not understand - When I trade manually, I can trade 100% of a currency.  Does the API have different restrictions with respect to trading?

The issue is that it confuses gekko - I get a whole ton of trades in a row because it trades 98% of my USD, then keeps trading it out because there is still USD left.   It's like it never finishes.  So, instead of 2 trades to do a round trip, it d

[2018-01-22 17:26] werkkrew commented on #1689
So I did a bit more testing and this time I used Binance and I am still able to re-create the issue.  I am honestly not sure exactly what one must do to re-create the issue but it happens to be pretty regularly.

I usually do a fresh import just before I try to run Gekko to ensure it has as much locally available history as possible.

In my config I have requiredHistory set to 60 and candlesize se

[2018-01-22 17:47] gekkouser opened #1763 "A Way To intracandle trading"
[ x] feature request

Spending a lot of time on writing strategies I noticed that i would like to make use of a special function. Is it possible to set Sell and buy orders for the next candle? Just a function which would place sell and buy orders for a specified price  after every complete candle for the current (not completed one).
Didn't find any topics concerning that, if there is one just let

[2018-01-22 20:17] iDzine commented on #1220
None of the above helped for me, but wat did help was this:

wget http://www.sqlite.org/2018/sqlite-autoconf-3220000.tar.gz

tar xvfz sqlite-autoconf-3220000.tar.gz
cd sqlite-autoconf-3220000.tar.gz
./configure
make
make install

or sudo make install

[2018-01-22 20:34] #1757 closed, assigned to nobody

[2018-01-22 20:46] askmike commented on #1757
@unstephenk see my comment here: https://github.com/askmike/gekko/pull/1758#issuecomment-359555945

[2018-01-22 20:55] ghost opened #1764 "Any way to get orders to go through faster"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[x ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I'm trying to run tests with 40+eth and the orders can barely fill within a 5 min candle time which causes a lot of issues as far as potential price ga

[2018-01-22 21:07] unstephenk commented on #1757
Success! Thanks @askmike!

[2018-01-22 21:18] Atem18 commented on #1598
janv. 22 20:38:15 node[3649]: 2018-01-22 20:38:15 (DEBUG):        calculated CCI properties for candle:
janv. 22 20:38:15 node[3649]: 2018-01-22 20:38:15 (DEBUG):                 Price:                 963.68000000
janv. 22 20:38:15 node[3649]: 2018-01-22 20:38:15 (DEBUG):                 CCI tp:         966.67000000
janv. 22 20:38:15 node[3649]: 2018-01-22 20:38:15 (DEBUG):                 CCI tp

[2018-01-22 22:07] christhecanadien commented on #1558
Hello... I don't have any dot (buy or sell) plotted in the graph when I'm using the tradebot live.
Nevertheless they appear in the backtest mode.... Any idea ?
Thanks

[2018-01-22 22:24] #1727 closed, assigned to nobody

[2018-01-22 22:25] gvdhoven opened #1765 "RSI calculation doesn't match 'Cryptwatch' might be wrong?"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report

* **Action taken** (what you did)
Ran a backtest for EOS/XBT with my strategy

* **Expected result** (what you hoped would happen)
That the RSI calculation matched Kraken's (Cryptwatch)

* **Actual result** (unexpected outcome)
Dumped RSI calculation of EOS/XBT

[2018-01-22 22:26] grogcw commented on #1729
Same here :/

[2018-01-22 22:37] cmroche commented on #1754
@mactac Can you give some information on which exchange and asset pairs, as well as debug output from gekko when it executes a trade incorrectly?

[2018-01-22 22:39] hilkoc commented on #1763
If I am not mistaken, all orders are placed as limit orders. So if at the end of a candle you calculate your price and place the order, it can in theory be executed in the middle of the next candle (or never, or any other time in the future).

The only problem is that the strategies you can make can only give a long/short advice. You cannot specify the amount or price form within your strategy. I

[2018-01-22 22:44] hilkoc commented on #1754
It could have to do with the precision; Gekko rounds the amounds (down) before posting the order.

[2018-01-22 22:45] mactac commented on #1754
What would be the point of rounding down?

Here's what it looks like (log from the exchange, poloniex):

ETH/USDT | Buy | Exchange | 1075.11432238 | 0.00017968 | 0.00000027 ETH (0.15%) | 0.19317654 USDT | 2018-01-22 11:20:02
-- | -- | -- | -- | -- | -- | -- | --
  | ETH/USDT | Buy | Exchange | 1075.11432238 | 0.00100000 | 0.00000150 ETH (0.15%) | 1.07511432 USDT | 2018-01-22 11:20:01
  | ETH/USDT

[2018-01-22 22:45] #1723 closed, assigned to nobody

[2018-01-22 22:46] hilkoc commented on #1723
I also fixed my logging issue.

[2018-01-22 22:46] mactac commented on #1754
@cmroche   I don't have debug output, but I just posted an example above

[2018-01-22 22:52] hilkoc commented on #1732
I'd like to have this feature too. For each (paper) trader that is running a page to view the debug log. Visualizations are nice to have, but not necessary.

[2018-01-22 22:53] cmroche commented on #1754
@askmike Anyone here known to have experience with Poloniex?

[2018-01-22 22:55] hilkoc commented on #1713
It was a real issue, but now appears to be fixed: #1733 .

[2018-01-22 22:55] rcoenen opened #1766 "Web UI: Show Paper Trader vs TradeBot"
It's currently impossible to tell live Tradebots apart from Paper Traders in the WebUI
<img width="935" alt="paper-vs-live-tradebot" src="https://user-images.githubusercontent.com/753704/35248802-6158e41a-ffc7-11e7-9421-96fd02c2977f.png">

[2018-01-22 22:59] hilkoc commented on #1634
The minimum amounts in kraken.js were out of date. This is now fixed.

[2018-01-22 23:02] hilkoc commented on #1619
I would like see this feature too. Furthermore, it would be great if the advice can also take a second parameter, which is the limit price for the order.

[2018-01-22 23:59] rcoenen opened #1767 "StratRunner page missing crucial info"
Unable to see if this is a Live or Paper trader
Unable to see what candle size and warmup were specified

![candle-size](https://user-images.githubusercontent.com/753704/35250742-14eab76c-ffd0-11e7-80c1-51e039d3cd45.png)

[2018-01-23 00:06] askmike commented on #1767
Very good points, I want to redesign this page and have been working on some sketches. What do you think of the following:

(list of what I want to show on this page)

![img_20180123_010355](https://user-images.githubusercontent.com/969743/35251026-a4395d20-ffd9-11e7-91c8-5e2c2fa8d0bd.jpg)

(sample sketch of how that might look)

![img_20180123_010407](https://user-images.githubusercontent.com/969

[2018-01-23 00:12] rcoenen commented on #1767
Yeah that makes a lot of sense. The start-stop feature is pretty crucial too indeed!

try getting a free license of Balsamiq to sketch some wireframes out perhaps? ( https://balsamiq.com/free/ )

[2018-01-23 00:16] askmike commented on #1767
Haha yea the paper sketching wasn't meant for sharing directly. Even though the UI is pretty straightfoward, this requires an overhaul of the API logic. I'll work on this over the next few weeks, so don't expect this soon.

[2018-01-23 00:19] rcoenen commented on #1766
relates to #1767

[2018-01-23 01:09] nccablhoe commented on #1734
@askmike I would definitely be interested in the cloud version for a reasonable monthly fee. What is your projected timeline?

[2018-01-23 01:52] WizardOfOz1 commented on #1217
I also want Gekko send me trade advise. I entered my email and password into sample-config.js located in gekko folder. Can anyone please explain how this function works? Do I have to rename sample-config.js to config.js or somethinelase.js? i believe this .js file will be called by mailer.js, is that right?
Please help

[2018-01-23 03:07] yummiesthorse commented on #1751
I'm having this same type problem. I've cleaned installed on 4 different computers and run the live trader bot on binance with BNB/NAV using the Rsi Strat through the UI, and every time without fail it gets this

(same as OP)
 error
events.js:183
 SQLITE_BUSY: database is locked

or ill get something like

events.js:137
 SQLITE_BUSY: database is locked

or on occasion

Error:  SQLITE_BUSY: databas

[2018-01-23 04:41] coltac commented on #1703
Ive been running crash free on Binance / newest dev release.  I think it might be working.  You guys are clever SOB's

[2018-01-23 05:07] rafaeldelucena commented on #1220
maybe `npm install sqlite3 --build-from-source` ?

[2018-01-23 05:48] dumbanddumbererest commented on #789
https://github.com/cazala/synaptic is a nodejs project, actively developed and has recurrent neural networks implemented.

while we're at it - can we have balances and the ability to proportion each trade? With that done we could have some version of the kelly formula working in the background ensuring balances always grow.

[2018-01-23 07:21] ghost opened #1768 "Timesync issue"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**
(Yes I have the timesync update :).
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
When setting the cancel order delay to 5minutes (XMR takes forever to fill) got a 400 error

2018-01-23 02:16:50 (DEB

[2018-01-23 09:00] salimelakoui commented on #789
It would be great indeed.

But what would be the input of such a neural Network ?

*Elakoui* Directeur Technique
0628730009
salim.elakoui@nway.org

Paris
France
[image: Facebook] <https://facebook.com/salim.elakoui> [image: Twitter]
<https://twitter.com/salimelakoui> [image: LinkedIn]
<https://linkedin.com/in/salimelakoui> [image: Google+]
<https://plus.google.com/+SalimElakoui> [image: YouTube]
<

[2018-01-23 09:07] gvdhoven commented on #1767
@askmike i like the redesign. Related: it would also be cool to have a 'update' button on the import page/local data after each data-set where you can specify what date range to add to your local data. After clicking this button and filling in the parameters it will re-import for you. Maybe add 'market' as a column there?
Partially it relates to my pull request; https://github.com/askmike/gekko/pu

[2018-01-23 09:39] dumbanddumbererest commented on #789
previous prices, volume, etc. I imagine being able to add multiple series to something like a self organising map ala http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.124.3646&rep=rep1&type=pdf

[2018-01-23 09:44] hansixxxx commented on #789
I think the neural network needs bbands, macd, cci, dema and candlestick like said above.
Seems to be very helpful indicators. I´m on at develop a neural network. Can i join a group of you or somebody wants to join me?

[2018-01-23 09:57] hansixxxx commented on #789
@FLYBYME can you contact me at baerle@feinripptraeger.de to help me? I´m trying to train the Neataptic neural network but no chance yet. I have to study this for my bachelor. I need it for backtestign, no coins for me.

[2018-01-23 10:00] salimelakoui commented on #789
I would be intresting to join yours.

I suspect that these indicators are not sufficent to "predict" with enough
precision something.

By the way, what do you predict via your network ? % of increase for the
next candle ? % of increase for the next week ?

*Elakoui* Directeur Technique
0628730009
salim.elakoui@nway.org

Paris
France
[image: Facebook] <https://facebook.com/salim.elakoui> [image: Tw

[2018-01-23 10:12] hansixxxx commented on #789
Hi,

 

i´m trying to forecast the next candle but it´s still not good.

You have a working code already? I´m really good at read the charts and i know all indicators.

I´m a informatic student but simply new to node.

 

Can you share what you got already?

Maybe we can setup a dropbox for what we do?

 

Regards

 

Gesendet: Dienstag, 23. Januar 2018 um 11:00 Uhr
Von: Salim <notifications@githu

[2018-01-23 10:32] salimelakoui commented on #789
Do you have an email Luca ?

*Elakoui* Directeur Technique
0628730009
salim.elakoui@nway.org

Paris
France
[image: Facebook] <https://facebook.com/salim.elakoui> [image: Twitter]
<https://twitter.com/salimelakoui> [image: LinkedIn]
<https://linkedin.com/in/salimelakoui> [image: Google+]
<https://plus.google.com/+SalimElakoui> [image: YouTube]
<https://youtube.com/channel/UCFsNUh_6pp3bLXWMBNbiltQ>

[2018-01-23 10:48] hansixxxx commented on #789
i mailed to you at salim.elakoui@nway.org

[2018-01-23 11:22] Profex86 opened #1770 "Live Trade Roundtrips is missing"
Hallo,

when i start paper trader, so i can see the roundtrips, but no when i start tradebot with real money?

can i set the timezone?

thanks

[2018-01-23 11:28] askmike commented on #1766
@rcoenen thanks for this issue, it's a very valid suggestion. I want to improve this. Because the redesign requires more than just writing some code I've posted a topic in the Gekko forum, might I suggest we use that to discuss a new design for the UI?

Here is the link: https://forum.gekko.wizb.it/thread-65.html

(closing this to move the discussion to the forum)

[2018-01-23 11:28] #1766 closed, assigned to nobody

[2018-01-23 11:29] askmike commented on #1767
@Webunity that is definitely functionality we want, I'll look at your specific implementation asap (apologies for the delay, I am way behind on Gekko).

@rcoenen thanks for this issue, it's a very valid suggestion. I want to improve this. Because the redesign requires more than just writing some code I've posted a topic in the Gekko forum, might I suggest we use that to discuss a new design for th

[2018-01-23 11:29] #1767 closed, assigned to nobody

[2018-01-23 12:51] EmmanuelVinas commented on #1703
I still have that crash, using the latest code in dev branch. The Market watcher stopped due to that error.

[code]

[2018-01-23 13:18] leejunwoo opened #1771 "Is it possible to emit event from plugin ?"
[ ] bug report
[ ] feature request
[X] question about the decisions made in the repository

I want to modify plugin module which has a function of emitting gekko's defined event.
 I wonder is it possible.

[2018-01-23 13:23] EmmanuelVinas commented on #1703
to Reproduce the issue, start a watcher, and remove the network access for few minutes.

[2018-01-23 13:45] cmroche commented on #1703
@EmmanuelVinas Update your binance module please

`npm uninstall binance`
`npm install binance`

Remember to run `npm install` after every pull from git as the modules can be updated at any time.

[2018-01-23 13:47] cmroche commented on #1751
@yummiesthorse When testing on windows 10, did you use Bash for Windows, or run directly in a windows environment?

[2018-01-23 13:59] EmmanuelVinas commented on #1703
I deploy it using docker compose build, docker compose -up -d. So I guess binance should be up to date.

[2018-01-23 14:37] Paulovms commented on #1765
Sometimes some indicators have strange values, but the formulas are correct. Maybe there are undefined variables changing values. I'm trying to fix an issue with TSI.

[2018-01-23 14:44] yummiesthorse commented on #1751
@cmroche directly in the windows environment, should i try bash and see if I get anything different

[2018-01-23 15:43] gekkouser commented on #1763
look what i found in /plugins/trader/portfolioManager.js :
` var act = function() {
    var amount, price;

    if(what === 'BUY') {

      amount = this.getBalance(this.currency) / this.ticker.ask;
      if(amount > 0){
          price = this.ticker.bid;
          this.buy(amount, price);
      }
    } else if(what === 'SELL') {

      amount = this.getBalance(this.asset) - this.keepAsset;

[2018-01-23 16:13] cmroche commented on #1703
This is a bug in the binance module in any case. It’ll need to be fixed by that project.  Please open an issue here https://github.com/aarongarvey/binance

[2018-01-23 16:15] cmroche commented on #1751
If you’re you do try that, please let me know if it fixes your problem. I don’t have easy access to a windows pc, but I’ll try to look at this over the weekend.

[2018-01-23 16:20] EmmanuelVinas commented on #1703
I checked, there is already an issue opened : https://github.com/aarongarvey/binance/issues/26

[2018-01-23 16:29] rcoenen opened #1773 "Trade Overview page: calculations incorrect"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[*] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Had the bot execute a live trade

* **Expected result** (what you hoped would happen)
Correct calculation of
- profit (seems incorrect to mee, see orang

[2018-01-23 16:48] PhunkyBob opened #1774 "Add pair in Bitfinex (USD/USDT)"
* **I'm submitting a ...**
[ ] bug report
[X] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I wanted to add the pair USD/USDT on Bitfinex.
https://coinmarketcap.com/exchanges/bitfinex/
I modified the "bitfinex.js" file with:
`assets: ['BTC', 'LTC', 'ETH', 'SAN', 'IOT', 'BCH', 'OMG', 'XMR', 'DSH', 'ZEC', 'EOS', 'ETC', 'XRP', 'NEO', 'ETP',

[2018-01-23 16:54] rcoenen opened #1775 "Send trade events to Telegram"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[x ] feature request
[ ] question about the decisions made in the repository

One great feature that Zenbot has but is not available in Gekko: updates on Telegram.
It would be great to get a notification on buy/sale actions and an overview of the performance made

[2018-01-23 17:14] billymcintosh commented on #1773
There's an issue with Binance as well which I'm checking to see if it has been fixed yet before making a commit.    It may fix gdax also.

[2018-01-23 17:15] billymcintosh commented on #1770
Has there been more than 2 trades with real money?

[2018-01-23 17:34] Profex86 commented on #1770
No, only 1 Bot is Running. It is only 1 bot possible at the same time on the same market.

[2018-01-23 17:34] Yetzira opened #1776 "Question about multi-currencies on the same market/account"
Hi
I'm sorry this is not a bug report nor a change request nor a question about decision in the repo.
But I couldn't register on the forum so I ask it here ... close the thread if useless !

I was wondering what's the best suggested way to go to trade LTC AND ETH at the same time on the same market (let's say kraken) ?
Right now i didn't want to take any risk so I just cloned the whole gekko direc

[2018-01-23 17:39] IlyaGulya opened #1777 "Migrate codebase to TypeScript"
I've just started to explore the Gekko codebase. And i found that it is written in js.
Did someone think about migrating to TypeScript to get more clear, expressive and typesafe codebase?
If i will do that, will it be useful for you? I wanted to start migration but i want to get any feedback about this idea before starting.

[2018-01-23 18:05] rEVOLV3r opened #1778 "My first strategy"
Hi,

It's the first time i do some js code and i have some trouble with my code.
I used the BB strategy and i modified it because i just want to sell at 2% after a buy (when the zone has reach the bottom).
I will adjust, increase and optimise the strategy after but i'm not able to do this simple task.
I mostly code VBA....but i'm a fast learner.
Where do i declare the Bought_price variable to keep

[2018-01-23 18:45] cmroche commented on #1703
OK thanks. I'll monitor it for changes, once a fix is provided I'll bump our npm versions.

[2018-01-23 19:25] rEVOLV3r commented on #1778
Ok that works with : if (Bought_Price ==0) and not juste if (Bought_Price =0)...noob mistake.
And i had to declare the 2 internal variables in the beggining of the code.

But how to put this variables into parameters in the .toml ?
Thanks.

[2018-01-23 19:54] iDzine commented on #1220
@rafaeldelucena, you should think so, but for some reason that generated an error in my setup.

[2018-01-23 20:22] Yetzira commented on #844
@pushkarnagle hello,
I'm setting up a strategie based on above code but merged with DEMA indicators.
I just spent 20mn to confuse myself about the use of buyat and sellat const in your formulas above which are inverted :) I mean, the values of the variables have sense, not the comment nor the name of the variable.
Did you really mean it this way ?

Thanks, I just don't want to miss something.

Yet

[2018-01-23 21:12] erasmuswill commented on #1627
Why don't you open a Pull Request? This sounds really useful.

[2018-01-23 21:37] rcoenen commented on #1770
@Profex86 if the bot has not done a 2 trades (1x buy, 1x sale) well then a roundtrip has not happened yet. So there's simply nothing to show. I suppose that's why it's empty. You got to wait till the bot has done 2 trades!

[2018-01-23 21:38] rcoenen commented on #1773
@billymcintosh interesting... is anyone even testing this other than me? I mean GDAX being (one of-) the largest exchange in the world.. I am surprised I am apparently the first one to run into this.

Also: Do you expect the bot to continue trading now? I have not seen any follow up trades - despite that BTC went up a lot today. I'd have expected a buy... can it be that the bot believes it traded

[2018-01-23 22:34] ghost commented on #1775
It would be nice to be able to config this from the UI for those of us who aren't running console based as well! Or at least have some sort of config file that supports this.

[2018-01-23 22:53] rcoenen commented on #1773
Guys I did some further testing: I tried to create a backtest with the exact same data and setting as my live bot. I took a screenshot of both live and backtest. Interestingly they show wildly different results.

1. As mentioned above the live bot is simply broken / incorrect as it reports an roundtrip exposure of 48 years.
2. The live bot shows only 1 green dot and it is **not on the graph line f

[2018-01-23 23:10] hansixxxx commented on #1778
can´t see a chart when backtracking this... whats the problem?

[2018-01-23 23:30] hansixxxx opened #1779 "Pro Strategy with do not sell blow bought price"
// Hi,
// i want to config the pro strategy like this:
// when long, write the price to var bought_price
// when short, check if (price > bought_price *1.02)
// can you help me?

/*

  PPO - cykedev 15/01/2014

  (updated a couple of times since, check git history)

 */

// helpers
var _ = require('lodash');
var log = require('../core/log');
var Bought_Price =0;		//Variablen Deklaration
var Gain =

[2018-01-24 01:38] slimelec opened #1780 "Live traderbot doesn’t plot buy or sell on the graph. Which part of the code i should be looking at?"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I lunched a live gekko UI (v0.5.11), everything works find buy and sell orders is working.

* **Expected result** (what you hoped would happen)
Show buy

[2018-01-24 03:43] yummiesthorse commented on #1751
OK so after a awhile of getting it to run on windows 10 through ubuntu without error it is finally working and trading, however Im getting a weird output on the round trip data where itll say it was exposed to the market for 24 hours or 3 months, when it has only had the exposure for like 20 minutes. So besides that all seems well

[2018-01-24 08:12] carlosatta commented on #1739
+1

[2018-01-24 10:54] Atem18 commented on #387
Same problem with CCI on Bitfinex

[2018-01-24 11:48] Volkan80 commented on #1754
I have the same problem using the Poloniex API.

[2018-01-24 12:46] bafxyz commented on #1777
ES6 is better approach in my opinion, native solutions are better, and it's easier to write new components in chosen way, instead of migrating everything, IMHO it's not a prio task.

[2018-01-24 13:03] hansixxxx commented on #789
![24-01-_2018_13-18-40](https://user-images.githubusercontent.com/35725568/35333512-47d3fb12-010f-11e8-8df4-462594ab80dd.png)
Got this...seems to be pretty nice

[2018-01-24 14:01] rcoenen commented on #1773
OK another day, another update and good news:

The bot kept working and made a second (profitable!) trade despite the 1st trade seemingly having ended in the 1970s (according to the roundtrip table in screenshot in post above)

The bad news: the roundtrip table is now missing. Also the graph shows only 2 data points, instead of 4 (it has execute 2 trades, so 4 data points: 2x buy and 2x sell) but

[2018-01-24 14:22] billymcintosh commented on #1773
Back testing will buy and sell with no competition or latency, live trading doesn't have it so easy.

If you're wanting more information than the UI shows, I recommend grepping the logs directory for your tradebot.  It will give you exact times and prices of trades.

[2018-01-24 14:36] salimelakoui commented on #789
Super.

Could you give me your parameters ?

*Elakoui* Directeur Technique
0628730009
salim.elakoui@nway.org

Paris
France
[image: Facebook] <https://facebook.com/salim.elakoui> [image: Twitter]
<https://twitter.com/salimelakoui> [image: LinkedIn]
<https://linkedin.com/in/salimelakoui> [image: Google+]
<https://plus.google.com/+SalimElakoui> [image: YouTube]
<https://youtube.com/channel/UCFsNUh_6p

[2018-01-24 15:20] Shootle commented on #789
@hansixxxx Could you mail this to me as well with the parameters
teejay@shootle.com
Thanks in advance

[2018-01-24 15:20] talentoscope commented on #1689
I can confirm this issue with Kraken. Not too complicated a strategy either.
Seems to me to be to do with the required history. If I use less than an hour, it seems fine, any longer than 1 hr 20 or so and it'll just hang and do the same as above. It shows that it grabs local data and stitches, but the strategy never seems to start when logging should show output from log.info in the strategy of ge

[2018-01-24 15:43] storshun opened #1781 "Binance - Child process dies after around 24 hours"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Running a binance traderbot on ETH/NEO with MACD strat for approx. 24 hours.

* **Expected result** (what you hoped would happen)
Child process shouldn

[2018-01-24 15:53] stefano-neri commented on #1724
actually i manually set "minimalOrder" in bitfinex.js for the XRP/BTC pair:
`
Trader.getCapabilities = function () {
  return {
    name: 'Bitfinex',
    slug: 'bitfinex',
    currencies: ['USD', 'BTC', 'ETH'],
    assets: ['BTC', 'LTC', 'ETH', 'SAN', 'IOT', 'BCH', 'OMG', 'XMR', 'DSH', 'ZEC', 'EOS', 'ETC', 'XRP', 'NEO', 'ETP'],
    markets: [

        //Tradeable Pairs to USD
        { pair: ['USD

[2018-01-24 16:09] blastbeng commented on #1589
i'm interested too

[2018-01-24 16:27] IlyaGulya commented on #1777
So, migration to ES6 is okay and will be useful, right? I found that there's no even ES6 in the project :slightly_smiling_face:

[2018-01-24 16:35] John1231983 commented on #789
@hansixxx: Could you also email to me at john1231983@gmail.com ? Good job

[2018-01-24 17:40] drush commented on #37
GDAX supports Stop + Stop Limit orders as well.

[2018-01-24 18:22] oikonen opened #1782 "Binance: Wanted to buy TRX but the amount is too small"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Trading at Binance ETH<=>TRX

* **Expected result** (what you hoped would happen)
Buy TRX

* **Actual result** (unexpected outcome)
Wanted to buy TRX bu

[2018-01-24 18:22] der-seemann commented on #37
@laredoza
I'm trying to set up your trailing Stopploss strategy, but have some difficulties.
I don't want it to buy anything, just keep the stopp loss 5% below the highest price. If the market drops below that value, all of my holdings should go short.
Can you or anyone else help me with the correct settings?

[2018-01-24 18:43] der-seemann opened #1783 "Strategy: simple trailing stopp loss"
I'm missing a very simple but basic strategy: a trailing stopp loss

What the strategy should to:

monitor the selected market, and as soon as the price drops below (the highest price since starting the bot - defined %) all or a defined percentage of my coins will be sold.

For example:

Sell 100% at -10%

in my account I have 100 NEO
Current price is: 0.010000 btc
current stopp loss is: (0.010000

[2018-01-24 18:47] rcoenen commented on #1773
@billymcintosh ok I was guessing that the backtesting would perform different because of latency, but still, the backtest graph shows a buy dot at around 12:00 whereas the live bot graph shows a dot at just after 13:00 - that is 1 hour difference. Bit much for network latency.
The time stamps on the live roundtrip claim everything is in UTC so I am assuming the time stamps on the backtest bot are

[2018-01-24 19:06] laredoza commented on #37
Hi @der-seemann, currently this doesn't support percentage but you can add a value.

trailing Value Increment = 10
initialStopValue = 300
movingStopValue = true
buy = false
buyPrice = 0
sell = false
sellPrice = 0

In this example the initial stop value is $300. If the current value goes to 400 the stop order will become 400 - 10 (trailing Value Increment). If the value goes below $390 all your cry

[2018-01-24 19:15] askmike commented on #1782
This seems like a minimum order restriction on binance, are you able to buy 218 TRX using the UI?

[2018-01-24 19:17] askmike commented on #1781
This is a bug with the binance library we are using, I have posted the issue here: https://github.com/aarongarvey/binance/issues/31

[2018-01-24 19:28] talentoscope commented on #837
Looks like this has reappeared in some form, issue #1689

[2018-01-24 19:29] astralmedia commented on #789
@hansixxxx I would be interested in seeing what sort of stuff we could do. I've been using javascript & node for a long time, and have been working with Gekko & GekkoGA for a bit now (also know python). Would love to see what sort if info we could share & get closer to a proper trading strategy.

scotthedstrom@gmail.com

[2018-01-24 19:29] oikonen commented on #1782
I just noticed that the minimalOrder was set to 0.02 and the order was worth 0.015ETH.

[2018-01-24 19:29] #1782 closed, assigned to nobody

[2018-01-24 20:17] billymcintosh commented on #1773
1 hour is quite a gap but I've seen it happen.   Just this evening Gekko tried its first purchase at: 24-01-18 20:26:03 and ultimately got a semi-filled order complete at 24-01-18 20:51:27.

Everything should be in UTC.

[2018-01-24 21:24] salimelakoui commented on #789
I will give you Access to my gitlab.nway.com asap.

Le 24 janv. 2018 20:29, "Scott Hedstrom" <notifications@github.com> a
écrit :

[2018-01-24 21:46] q20 commented on #789
@hansixxxx Hey, would you mind sending those parameters to me too, please? In the interest of open source. ; )
meesterlars@gmail.com
Thanks :D

[2018-01-24 21:48] damiengogo commented on #1597
hi, exactly the same pbm ! :s

[2018-01-24 22:10] abdirrohim commented on #1272
How to change port in gekko??
Current port:3000
I will change it..
Because i have 2 accoun in bitcoin.co.id and i will run on one vps..

I think, if i can change port, i can install 2 gekko on 1 vps..

Ex firts gekko: localhost:3000
2nd gekko localhost:2000

Please help me...

[2018-01-24 22:28] talentoscope commented on #1130
Issue still affects current gekko stable and dev

[2018-01-24 22:47] talentoscope opened #1784 "[BUG] No trade advice despite enough history with tulip"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Set up gekko in live trader mode with historySize of 47, candleSize of 5.
There is enough data, and an import for the last week was run just before goin

[2018-01-24 22:50] bvanhou commented on #1783
I would review the issues within this repo before you post. Someone has already put in a merge request a few months back with this functionality, however it has not been merged

https://github.com/askmike/gekko/pull/1317

[2018-01-24 23:05] talentoscope commented on #1784
Related: #1689

[2018-01-24 23:45] geeklimit commented on #610
This might be a little off topic, but since we are all talking about comparing strategies, I'd like to know if something is possible.

[2018-01-24 23:46] geeklimit commented on #610
Oops. When I'm wondering about is if I can have the engine cycle through all of my strategies for a given time period, data set, date range, candle size, and all the rest. Then display a list of all of my loaded strategies and tell me which one would have been good in which would have been not so great. I'm doing this manually now, but it takes quite a while to cycle through when you have a couple

[2018-01-24 23:47] geeklimit commented on #610
Sorry, on mobile. In very basic terms, show me all of my strategies for a given set of variables, and tell me how all of them would have done. No need to graph it, a table would make much more sense.

[2018-01-25 00:45] Profex86 commented on #1770
![7bc0f8eb-2069-4cb7-92f2-636ca463422f](https://user-images.githubusercontent.com/35728406/35364792-66bcfc06-0171-11e8-83ab-f59edf2026f6.png)

[2018-01-25 07:09] salimelakoui commented on #789
I have just asses you all as développers. The more thr merier.

Well, these are the issues :
- accurancy
- overfeeding
- optimisation

Le 24 janv. 2018 22:46, "q20" <notifications@github.com> a écrit :

[2018-01-25 07:16] John1231983 commented on #789
@salimelakoui : Thanks for inviting me. I have accepted it but somehow it shows the error `The page could not be found or you don't have permission to view it.`  and `The change you requested was rejected.`. This is my email john1231983@gmail.com

[2018-01-25 08:37] q20 commented on #789
@salimelakoui : Thanks! Unfortunately, I too have trouble viewing the project:
_422
The change you requested was rejected.
Make sure you have access to the thing you tried to change.
Please contact your GitLab administrator if you think this is a mistake._

[2018-01-25 09:39] talentoscope commented on #1784
09:38, still nothing, so almost 11 hours.

[2018-01-25 11:13] mstfimi commented on #1778
cant see the plot after I backtested it, do you know the reason?

[2018-01-25 11:15] mstfimi commented on #1778
Error: Cannot find module './indicators/BB.js'
    at Function.Module._resolveFilename (module.js:538:15)
    at Function.Module._load (module.js:468:25)
    at Module.require (module.js:587:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (C:\Users\*****\Desktop\setup\strategies\BBStepgain.js:8:10)
    at Module._compile (module.js:643:30)
    at Object.Module._extensions..

[2018-01-25 11:38] rEVOLV3r commented on #1778
Hello,

I used the BB strategy that you find in the pll request section. You have to create the 3 files (bb.js for the strat, bb.js for the indicators, bb.toml for config). After that you can run it. By the way i completely modified the bb strategy to add multiple indicators. It s not finished yet.

[2018-01-25 11:43] mstfimi commented on #1778
How can I create those files and do we know the code inside them?

[2018-01-25 11:50] rEVOLV3r commented on #1778
Check the pull request section with bb strategy subject. You have the 3 codes written in the post. Just copy past your files, rename them with bb.js or bb.toml and put the code inside them.

[2018-01-25 12:03] mstfimi commented on #1778
Thanks for you help! I did what you say and run bactest. Allthogh I can run BB strategy without any error, I get this error while running BB_Stepgain:

TypeError: Cannot read property 'NbDevUp' of undefined
    at Indicator.update (C:\Users\fimi\Desktop\setup\strategies\indicators\BB.js:33:44)
    at Base.<anonymous> (C:\Users\fimi\Desktop\setup\plugins\tradingAdvisor\baseTradingMethod.js:143:9)

[2018-01-25 12:12] mstfimi commented on #1778
And this: ReferenceError: Bought_Price is not defined

[2018-01-25 12:44] rEVOLV3r commented on #1778
Define
var Bought_Price =0;
var Gain =0;

Before methode.init as explain in my second post.

I had another rookie mistake with the ==0. And another one that i learned when programming, in js, var1 <> Var1 or VaR1. The upper case define another variable. So change all the uppercase in my variables and normaly that will work

[2018-01-25 12:47] bvanhou opened #1785 "Back Test Entry and Exit Points not accurately matching with Exchange"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[X ] question about the decisions made in the repository

* **Action taken** (what you did)
I have been using basic sample strategies and backtesting to test some logic with BTC and XRP.

* **Expected result** (what you hoped would happen)
The

[2018-01-25 13:25] rcoenen commented on #1770
@Profex86 looks to me like your bot simply has not executed any trades yet?

[2018-01-25 14:03] oikonen commented on #1107
Is there anyone who knows how to implement this code and could give a sample code?

[2018-01-25 14:09] talentoscope opened #1786 "[BUG] General:Invalid arguments:volume with kraken"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Ran gekko in live mode on kraken

* **Expected result** (what you hoped would happen)
This buy would go through

* **Actual result** (unexpected outcome

[2018-01-25 14:12] salimelakoui commented on #789
It should be ok now for those who have already registred.

*Elakoui* Directeur Technique
0628730009
salim.elakoui@nway.org

Paris
France
[image: Facebook] <https://facebook.com/salim.elakoui> [image: Twitter]
<https://twitter.com/salimelakoui> [image: LinkedIn]
<https://linkedin.com/in/salimelakoui> [image: Google+]
<https://plus.google.com/+SalimElakoui> [image: YouTube]
<https://youtube.com/chan

[2018-01-25 14:31] carlosatta opened #1787 "[BUG] Talib indicator return empty result"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Use a strategy with an Talib Indicator (ex.: BBands).
ex.: this.addTalibIndicator('mybbands', 'bbands', this.settings.bbands);

* **Expected result** (what you hoped would happen)
Every candle I expect calculated result inside "this.talibIndicator

[2018-01-25 14:41] Profex86 commented on #1770
Bitstamp Orderbook says he did it. strange thing.

[2018-01-25 15:09] hilkoc commented on #1786
To not exceed the allowed precision, the code is rounding both the amount of asset and the amount of currency downwards.
So the 0.06 is rounded to 0.
Instead it should only be rounding the amount of currency.

[2018-01-25 15:25] talentoscope commented on #1786
I've narrowed it down. This commit is fine: https://github.com/askmike/gekko/commit/18a12dbc5cd393cb52d691e38e6fb14dfe2abcb3
but something has broken between that and the latest.

[2018-01-25 15:30] q20 commented on #789
Thanks!

[2018-01-25 16:21] augustoclaro commented on #789
Would you send an invitation to me as well? augustoclaro1@hotmail.com

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

________________________________
De: q20 <notifications@github.com>
Enviado: Thursday, January 25, 2018 1:30:41 PM
Para: askmike/gekko
Cc: Augusto Claro; Comment
Assunto: Re: [askmike/gekko] Integrating Machine Learning AI instead Technical Analys

[2018-01-25 16:25] Filoz commented on #789
Hi!
I'm interested as well
If possible I would like to join...
My email is filippo.lazzarini@gmail.com

Thank you

[2018-01-25 16:26] greenbigfrog commented on #789
All past messages don't belong here! @salimelakoui shared their email address further up. If you really want access why not send them an email directly, instead of spamming this issue?

[2018-01-25 16:31] greenbigfrog commented on #1785
What is your configuration? And also gekko can't predict the future, but act on indicators

[2018-01-25 16:39] augustoclaro commented on #789
I’ve been receiving a thousando e-mails about this issue for a while, then I send one single response and you’ll complain about it? You can kiss my bright white ass

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

________________________________
De: Jonathan <notifications@github.com>
Enviado: Thursday, January 25, 2018 2:26:51 PM
Para: askmike/gekko
Cc: Augusto

[2018-01-25 17:02] blastbeng opened #1788 "[BUG] Binance error 400 while trying to trade ETH-ENJ"
Hello,
i am trying to trade on binance with eth enj coins but i am getting this error:

[binance-error.log](https://github.com/askmike/gekko/files/1664893/binance-error.log)

the same config on GDAX using EUR\LTC is working fine

do you need my config.js ?

Thanks

**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug repo

[2018-01-25 17:41] fredmarques commented on #1777
Hey guys... Is there a WIP on this issue? I would like to contribute

[2018-01-25 19:03] ansonphong commented on #1701
Haha, tease. I'd be very impressed if it behaves like this on a live market. Curious to see the methods used.

[2018-01-25 19:41] kifirkin commented on #1770
I have exactly the same problem! Bot trades, gets profit but roundris are empty :worried:
wex.nz

also there is no errors

[2018-01-25 20:13] talentoscope commented on #1788
Would you update your issue with the version of gekko you're using please? Develop or stable branch?
Possibly related to #1786

[2018-01-25 20:19] talentoscope commented on #1783
This is the kind of thing we discuss on Discord.
Feel free to join us there to discuss strategies, etc.
https://discord.gg/26wMygt

[2018-01-25 20:31] blastbeng commented on #1788
I am actually on develop branch

[2018-01-25 20:45] yummiesthorse commented on #1751
question, my traderbot is starting and canceling an order every 4 seconds so they never fill, is this usual for the bot to behave or is something wrong?

[2018-01-25 20:50] RomaJZ commented on #610
@omega733 So what is the answer?

[2018-01-25 21:47] damiengogo commented on #1597
git config --global core.autocrlf false

then normal git download ;)

[2018-01-25 21:49] #1781 closed, assigned to nobody

[2018-01-25 21:49] askmike commented on #1781
This bug was actually already fixed in the library. Please install the latest develop version of Gekko and run `npm install` again to fix!

[2018-01-25 21:52] RobboRobson1 commented on #639
Hi. Was this ever resolved because I keep getting the error that the OP posted

Thanks

James

[2018-01-25 22:15] askmike commented on #1788
@xteejx that's a seperate issue for Kraken.

@blast1987 I am having this as well, posted an upstream issue here: https://github.com/aarongarvey/binance/issues/34

[2018-01-25 22:16] askmike commented on #1787
Could you post a sample strategy I could test?

[2018-01-25 22:18] askmike commented on #1776
Why not if I may ask? :)

Unfortunately this is not really supported. You can in theory start 3 Gekkos on different markets on the same account, however they will be battling for the same BTC (assuming your example were all BTC markets).

[2018-01-25 22:18] askmike commented on #1776
Closing this as it's not a bug, but feel free to keep replying :)

[2018-01-25 22:18] #1776 closed, assigned to nobody

[2018-01-25 23:21] carlosatta commented on #1787
Of course. This is the strategy I use for debug purpose.

`
var log = require('../core/log');

var strat = {};

strat.init = function() {
  this.name = 'BBand MACD';
  this.last_position = null;

  this.requiredHistory = this.tradingAdvisor.historySize;
  this.addIndicator('macd', 'MACD', this.settings.macd);
  this.addTalibIndicator('mybbands', 'bbands', this.settings.bbands);

}

strat.update =

[2018-01-26 00:08] tisawe commented on #1387
I solved this issue by installing installing 'utc and' 'moment' from npm.

Update: Installing 'utc' and 'moment' has caused gecko to report some values in a time format instead of a percentage. It doesn't happen all the time, but I'm sure that it's not random. It a;so seems that gekko still works correctly.

[2018-01-26 00:59] askmike commented on #1788
@blast1987 after double checking: make sure your API is correct and working. If that does not fix your problem please let me know.

[2018-01-26 00:59] #1788 closed, assigned to nobody

[2018-01-26 05:40] ansonphong commented on #1701
This might be a clue:
https://github.com/wupeng1211/convnetjs

[2018-01-26 09:45] kifirkin commented on #1770
I've  updated from `master`, did `npm i` and problem gone

[2018-01-26 10:43] ockimock commented on #1744
I think JesusIslam is right. I tried to get the data-stitching to work in the UI for about 2 days before finding #1180 and #943
Now I've got it up and running in the CLI (which had no problem stitching in the past year of data).

[2018-01-26 11:57] Yetzira commented on #1776
Hi
Actually forget my remark for the forum, I did receive the registration email to confirm the account, but it was tagged as spam by gmail ...

About the concurrent sessions on the same exchange, the only way to go for now would be either to find an exchanges which allows us to "partition" some pairs asset/currency so that they dont battle each other; or to use different accounts on the same exch

[2018-01-26 12:07] Profex86 commented on #1770
Did you type npm i in console or what you mean?

[2018-01-26 13:15] Paulovms commented on #1469
#1550 fixed my issue.

[2018-01-26 14:14] blastbeng commented on #1788
I solved that, i regenereted my config , also checked api and now it is working

the only thing that changed is that now i'm on stable branch

[2018-01-26 14:20] kifirkin commented on #1770
@Profex86 Yes, I installed dependencies with `npm i --only=production`

[2018-01-26 15:10] wupeng1211 commented on #1787
var outRealUpperBand = this.talibIndicators.mybbands.result['outRealUpperBand']

[2018-01-26 15:10] wupeng1211 commented on #1787
https://github.com/oransel/node-talib/blob/master/src/lib/src/ta_func/ta_BBANDS.c

[2018-01-26 15:14] Profex86 commented on #1770
Ok, I'll try that. Thanks

[2018-01-26 16:28] talentoscope commented on #1787
BBands outputs 3 variables, therefore it wouldn't just be bbands.result. There's where the error is coming from :)

[2018-01-26 16:30] talentoscope commented on #1765
What periods are being used on both Cryptowatch and in your strategy? I can't reproduce this error on Kraken with the same RSI period.

[2018-01-26 16:32] talentoscope commented on #1763
You can modify that to something like this to get orders through quicker, though it means moving away from the orderbook:
[code]

[2018-01-26 16:41] carlosatta commented on #1787
In this line I print all the object 'log.info(JSON.stringify(this.talibIndicators.mybbands));'
In output I have this result:
data:    gekko.js:3145 - 2018-01-26 16:04:18 (INFO):	{"result":{}}

But, if i restart the script few times i got something like this:
data:    gekko.js:3145 - 2018-01-26 16:04:18 (INFO):	{"result":{"outRealUpperBand":0.0011877744861648158,"outRealMiddleBand":0.00116912647619

[2018-01-26 19:49] ansonphong commented on #789
Looks like @wupeng1211 @ https://github.com/askmike/gekko/issues/1701 is onto something as well, getting some good results, possibly using [convnetjs](https://github.com/karpathy/convnetjs)

[2018-01-26 21:20] ansonphong opened #1789 "Integrate Chalk for Colored Logging"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[ x ] feature request
[ ] question about the decisions made in the repository

I integrated [Chalk](https://www.npmjs.com/package/chalk) on a fork of Gekko and it works really nicely.

**Chalk on Custom Gekko Strategy in Backtest**
![image](https://user-images.gi

[2018-01-26 21:25] ansonphong commented on #1789
I noticed that `Colors` is already integrated, closing for now. https://github.com/askmike/gekko/issues/56

[2018-01-26 21:25] #1789 closed, assigned to nobody

[2018-01-26 22:12] gugol2 opened #1790 "utils.js line 187"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[*] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Habilitating the mailer in my config.js file and run `node gekko --config config.js`

* **Expected result** (what you hoped would happen)
The Gekko proc

[2018-01-26 23:24] gkkorr opened #1792 "GEKKO ERROR: Gekko encountered an error and can't continue - Binance trading"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Running tradebot under UI

* **Expected result** (what you hoped would happen)
Would initiate buy/sell orders on live market

* **Actual result** (unexp

[2018-01-26 23:27] ansonphong commented on #1689
I was experiencing a similar issue because my `strategy.requiredHistory` value was greater than the trading advisor history size. This was easily fixed by setting this in my `strategy.init` method:
[code]

So the second similar issue I was facing was that, even though it was priming the `strategy.update` method with backdata, it wasn't starting to trade on the first live candle, it was delaying a

[2018-01-26 23:33] talentoscope commented on #1689
No, that's not the issue for either of us. We've discussed it on Discord and it seems to be a race condition caused by the use of tulip indicators.

[2018-01-26 23:38] carlosatta commented on #1787
I've found this https://github.com/okibcn/gekko/blob/patch-2/strategies/indicators/BB.js, so I've decided to give a try. Seems to work, so I decide to leave talib indicator.

[2018-01-27 00:09] gaia opened #1795 "WebSockets does not connect"
It was working fine on the previous version 0.5.9. Since updating it no longer works. Updated via
git pull
npm install --only=production

**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
bug report?

* **Action taken** (what you did)
followed install instructions for "Configuring Gekko to run headless in a trusted environment

[2018-01-27 01:19] bvanhou commented on #1785
The configuration is out of the box and utilizing an MFI strategy I put together. The logic is simple however, the entry and exit points are delayed.

This is like this on every strategy, even the out of the box ones.

[code]

### Entry Point from Trade View:
<img width="1072" alt="screen shot 2018-01-26 at 8 14 02 pm" src="https://user-images.githubusercontent.com/8975445/35466851-df3a4c00-02d5-1

[2018-01-27 01:52] bvanhou commented on #1785
It seems the candle data from the importer in binance is some how different than looking at tradeview.

I have checked the timezone and currency and everything. The entrypoints do not make sense to me.

Can anyone help clarify the entrypoints?

[2018-01-27 04:13] ansonphong commented on #789
@lee101 I've been looking at your BitBank project, very interesting, the 1 day trial period is a bit short to get enough time to spend with it, could you get me some more time to access it? My account is phong@phong.com

I'm just looking through the docs, is it possible to access historical prediction data from the API? That would be very helpful for backtesting the strategy with Gekko.

[2018-01-27 10:16] joshanderson99 opened #1796 "singleWatcher.vue seems to be doing unnecessary getCandles() calls"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

Not quite a bug, but seems to be an inefficiency.

* **Action taken** (what you did)

Was looking at what prompted `getCandles` calls in singleWatcher.vue.

* **Expected result** (what

[2018-01-27 11:34] ivandompe commented on #1670
HI guys, I'm new to Gekko and I'd like also to run tradebot on several pairs on the same exchange.
I don't understand which setting and where I have to change. Could someone explain me how to do so? I didn't found the config.js

[2018-01-27 11:39] Gujs commented on #1309
It happened to me also. After this error Gekko stopped working.

`/opt/gekko/node_modules/ws/lib/WebSocket.js:219
    else throw new Error('not opened');
         ^

Error: not opened
    at WebSocket.send (/opt/gekko/node_modules/ws/lib/WebSocket.js:219:16)
    at _.each.client (/opt/gekko/web/server.js:28:22)
    at Function.forEach (/opt/gekko/node_modules/lodash/dist/lodash.js:3298:15)
    at

[2018-01-27 11:41] mladenmilev opened #1797 "Gekko cancels order to create "same" order"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ *] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I have Gekko running in a trading mode with Kraken. Gekko places buy order with limit (OK). A minute after when the order is not executed Gekko cancels

[2018-01-27 11:44] askmike commented on #1797
Very good point. This behaviour behaves like this because Gekko needs to make sure to order moves with the price (which normally changes a little bit). in my experience this rarely happens if you trade on more liquid markets (because the prices will move).

[2018-01-27 11:51] mladenmilev commented on #1797
Yes, I am aware. It makes sense to do that but only on different
conditions. Before canceling Gekko should query the order and if conditions
are different proceed.

Seems now it is always canceling and creating new one. It naturally is
simpler solution but negatively influences the order success rate and might
cause eventually ban on the account.

Pulling the order info should not be difficult or

[2018-01-27 11:51] ewewerethefool opened #1798 "bitstamp.js Rounding - Missed trades."
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I set my strategy to sell on bitstamp. I have set my BUY price = ask, and SELL price = bid to ensure orders fulfill quickly.

* **Expected result** (wh

[2018-01-27 13:24] billymcintosh commented on #1670
@ivandompe - don't do it unless you're confident with the code and losing doesn't make you angry :)

If you really want to trade several pairs simultaneously on the same exchange...   CLI.

[2018-01-27 13:27] billymcintosh commented on #1770
@Profex86
[code]
...then run gekko as normal.

Any merge requests are very welcome.

[2018-01-27 13:34] ivandompe commented on #1670
Thanks billymcintosh, well I was wondering to not have several exchange instead.. but ok I understand why it could lead to bad move with a single exchange. I will then open new account. Thx for your feedback. :-)

[2018-01-27 13:45] billymcintosh commented on #1670
You're welcome.    It's possible on the same exchange with completely different pairs.

For example;
ETC/BCH
and
ETH/BTX

They will not compete with each other and trades will be completely independent.

[2018-01-27 13:46] billymcintosh commented on #1798
Can you create a PR and we check?

[2018-01-27 13:50] billymcintosh commented on #1797
Happens with me all the time.    I can tell it's expected behaviour of Gekko.

It's also a bit annoying that sometimes the order isn't fulfilled because of 0.0005 of a token.

@mladenmilev  - it's a toss of a coin.  Do you want an order to go in quicker or do you want to check if you have to pay more/lose more first?

[2018-01-27 14:34] ivandompe commented on #1670
Hi Billy,

Ok then I would maybe try. So if I understand correctly, I need for this
(trading on different pairs) use command line?
When yes, what I need to do? How to execute tradebot on these pairs?

Sorry for that question, but I'm using UI for the moment. But not an issue
if I have to run command line ;-)
See in attachment, the documentation is not clear for me.. do I have to
modify that files?

[2018-01-27 14:46] mladenmilev commented on #1797
Checkout this screenshot.
The last order that was canceled was partially fulfilled at 6.90%

Then it was cancelled and same order for remaining amount was credited and later fully fulfilled at same price point.

Was it necessary to cancel first order or Gekko could just wait another minute and check again?

![screenshot_2018-01-27-13-19-04-377_net benoitbasset krakapi](https://user-images.githubus

[2018-01-27 14:48] Profex86 commented on #1770
@billymcintosh

Sry, I don't understand what u mean with "git checkout master"

i have make here a very simple installer with all u need.

check this out!

[Gekko Installer.zip](https://github.com/askmike/gekko/files/1670199/Gekko.Installer.zip)

(only testet with Win 7 x64)

[2018-01-27 15:57] John1231983 commented on #1701
Do you want to show that your work is best one and we must pay money to buy it? Please said something instead of showing your result

[2018-01-27 17:04] askmike commented on #1797
You're right, Gekko can simply before canceling and recreating get the
ticker (which includes the top ask and bid) and check whether the order is
already at the top. And if so just leave it there.

I'll put this on the TODO!

On Sat, Jan 27, 2018 at 12:51 PM, mladenmilev <notifications@github.com>
wrote:

--
PGP key at keybase.io/mikevanrossum
<https://keybase.io/mikevanrossum/key.asc>

[2018-01-27 17:12] ivandompe commented on #1670
Hello, I'm sorry to come back again, I'm trying to get a right setup to start with the command line.
Do I have to set my strategy into config.js or somewhere else? I'm confused.
Thx

[2018-01-27 17:20] billymcintosh commented on #1670
Alright dude.    It's up to you, but I recommend trading completely different pairs on the command line and the UI.

You need to pass in the argument for your configuration file like so;
`node ./gekko.js --config yourBTCconfig.js`
`node ./gekko.js --config yourETHconfig.js`

Gekko is reasonably stable but it can die - use pm2 :)

[2018-01-27 17:52] anondontlikepeng commented on #1701
I found this:
https://github.com/cloggy45/Gekko_Trading_Resources
it includes a bestone strategy and convnetjs.

Did not tested it yet. Hope you guys here can do somthing big with it.

[2018-01-27 18:42] ivandompe commented on #1670
I was finally able to manage it. :-)
Hope my strategies will work!

[2018-01-27 19:10] billymcintosh commented on #1670
Good luck!   If they work,  share :)

[2018-01-27 19:33] hilkoc commented on #534
@greenbigfrog I need this feature too. Can you show me how it has been implemented? or how to use it?
Thanks!

[2018-01-27 19:38] Paulovms commented on #1670
I’m running 13 gekko instances with PM2.
![13 gekko instances](https://image.ibb.co/cAVxjG/959_ADD2_F_91_C9_4454_919_A_2_C0975268006.jpg)

[2018-01-27 19:46] werkkrew commented on #1703
What I am seeing might not be related to the upstream library.

For example, on the USDT/ETH market on binance, the minimum amount of ETH you can sell isn't based on an amount of the asset (ETH), it is based on the total value (which is a factor of the current price.

As of today that amount is $20, so that means the minimum needs to be calculated as (current market price * amount to sell) > 20.

[2018-01-27 20:47] flux154 commented on #1081
I keep getting:

 TypeError: Cannot read property 'log' of undefined
    at pipelineRunner (C:\xxxx\xx\Downloads\gekko-develop\web\routes\startGekko
.js:86:14)
    at Object.message (C:\xxxx\xx\Downloads\gekko-develop\core\workers\pipeline
\messageHandlers\realtimeHandler.js:10:9)
    at ChildProcess.<anonymous> (C:\xxxx\xx\Downloads\gekko-develop\core\worker
s\pipeline\parent.js:29:12)
    at emi

[2018-01-27 21:42] ivandompe commented on #1670
Nice @Paulovms ! I have to explore pm2. My script are running on OS X for the moment ;-)
Thx @billymcintosh , I will share! I was able to set 3 differents tradebot. They are now running, will see what happens. I use ETH/USDT, LTC/XMR & STR/BTC as pairs. All of them with TSI strategy based. They give me +25-35% of profit via back testing. Fingers crossed!

[2018-01-27 21:49] padder1992 opened #1800 "Error 400 on Binance live trade /"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I want to create an live trade with ETH / DGD on Binance and get an 400 error.

* **Expected result** (what you hoped would happen)
That i could trade

[2018-01-27 22:53] ewewerethefool commented on #1798
As soon as I test, most definitely. Testing now

[2018-01-28 00:01] werkkrew commented on #1800
Are you sure your API key isn't set up with an IP whitelist that your current computer is not on?

[2018-01-28 00:16] padder1992 commented on #1800
Yes the IP restriction is set to unlimited. But thanks for answer! :)

[2018-01-28 00:18] werkkrew commented on #1800
I am running against Binance with the 1.3.2 module right now without too much trouble.

[2018-01-28 00:32] billymcintosh commented on #1670
Good luck Ivan.   Please change this title from "then" to "than".  That really fucking annoys me and I will kill people.

[2018-01-28 02:03] mactac commented on #1275
@okibcn This looks great, but I get errors when I try to run your code.  See my comment here:
https://github.com/askmike/gekko/pull/1623

Any ideas?  Thanks for doing this!

[2018-01-28 02:33] bigbruno commented on #1589
And me

[2018-01-28 02:36] andreasol opened #1801 "Bittrex can not get history data"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[X ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Can you use the api of cryptocompare that have all the history of markets and the following links show how to get:
https://www.reddit.com/r/BitcoinMark

[2018-01-28 03:00] rkingy commented on #1703
I got the following error message in my log.

`2018-01-28 00:54:25 (DEBUG):	[binance.js] entering "setBalance" callback after api call, err: null, data: [object Object]
2018-01-28 00:54:25 (INFO):	Attempting to SELL 21.739 XLM at binance price: 0.00005384
2018-01-28 00:54:25 (DEBUG):	[binance.js] (addOrder) SELL 21 XLM @0.00005384 BTC
2018-01-28 00:54:26 (ERROR):	[binance.js] (addOrder) returned a

[2018-01-28 04:04] werkkrew commented on #1703
So in the binance-markets.json file you will want to edit the "order" value of the pair you want to trade in to match that 0.002 value

[2018-01-28 04:17] rkingy commented on #1703
Ok, I've updated this in exchanges/binance.js

Now looks like
[code]

According to https://support.binance.com/hc/en-us/articles/115000594711-Trading-Rule all BTC pairs should be 0.002 now.. so maybe this file needs a bit of a update?

[2018-01-28 07:56] ivandompe commented on #1670
I'm unfortunately not the initiator of this issue, I can't change the title. Have a good day.

[2018-01-28 10:11] askmike commented on #1670
This question should now be answered. If people want to continue this discussion please do so on the forum: https://forum.gekko.wizb.it/

[2018-01-28 10:11] #1670 closed, assigned to nobody

[2018-01-28 10:26] yaruzo11 commented on #1777
What about WebAssembly? Can we use that for even better performance?

[2018-01-28 12:28] rcoenen commented on #1775
OK update: so it's possible apparently from the CLI. Not from the WebUI? Confusing this dual cli/web ui approach. I am not sure what applies when and where

[2018-01-28 13:15] harveymomo commented on #1778
i have problem

+var Indicator = function(BBSettings) {
  ^^^

SyntaxError: Unexpected token var
    at new Script (vm.js:51:7)
    at createScript (vm.js:138:10)
    at Object.runInThisContext (vm.js:199:10)
    at Module._compile (module.js:624:28)
    at Object.Module._extensions..js (module.js:671:10)
    at Module.load (module.js:573:32)
    at tryModuleLoad (module.js:513:12)
    at Function

[2018-01-28 18:22] carlosatta commented on #1054
Still not working...

data:    gekko.js:25419 - 2018-01-28 18:21:25 (ERROR):	getPortfolio Error { success: false, message: 'APIKEY_INVALID', result: null }
data:    gekko.js:25419 - 2018-01-28 18:21:25 (DEBUG):	Bittrex returned an error, retrying. [ [Function: bound] ]

[2018-01-28 21:40] sven76 opened #1802 "Binance - this.binance.startTimeSync is not a function"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
- Cloned the last develop version
- Local Data -> Go to importer -> Start new import
- Exchange: Binance
- Currency: ETH
- Asset: WTC
- From: 2018-01-01

[2018-01-29 01:14] BennZoid opened #1803 "QuadrigaCX API fails to authenticate"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Start gekko with QuadrigaCX in trading mode

* **Expected result** (what you hoped would happen)
Connect and start monitoring for trades

* **Actual res

[2018-01-29 04:40] rkingy commented on #1687
I'm running the latest dev code (downloaded today) and also still seeing this issue using live trading bot on binance... BTCXLM

![screenshot 2018-01-29 17 39 43](https://user-images.githubusercontent.com/15899802/35493886-7338ba12-051b-11e8-84e4-6e445ec79c54.jpg)

[2018-01-29 08:49] PlayboySatoshi commented on #786
Also I think It`ll be useful to add the size of the data in that table

[2018-01-29 11:28] namns1412 opened #1804 "Binance ICX/BNB minimalOrder is 1"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Strat try to sell a small wallet after the last just filled a part not full fill the order, and Binance cancel the small part didn't fill. And next time

[2018-01-29 11:45] mladenmilev commented on #1732
@askmike Hi, for the UI it is important to be "simple but functional". I can offer my help in reviewing and helping some suggestions. I am using mainly the UI last weeks and I see several problems.

- UI should allow to start and stop a bot instance (currently only allows to start new one)
- UI should present correct information in the trade history. Currently many errors, not sure why - bad param

[2018-01-29 15:12] Platiz0 commented on #1751
having the same exact issue...i posted in the forums and have looked relentlessly for a resolution but with no avail...any help is much appreciated I want to live trade as soon as possible!  Can I use Postgresql instead and if so how?  I've tried to change the settings to Postgresql but it doesn't want to connect...anyone have insight into this?  Thanks much again!

[2018-01-29 15:23] cmroche commented on #1687
@rkingy Assuming you are back testing, did you delete and re-import market data? You probably have bad timestamps stored in the database.

[2018-01-29 15:24] cmroche commented on #1703
@werkkrew @rkingy A fix was made for this in the develop branch a few days ago. The amount should already be 0.002, FYI.

[2018-01-29 15:27] cmroche commented on #1751
Changing DB probably won't fix the 4 second issue order cancellation issue. A change was made in the develop branch to make this a configurable field with a 1 minute default delay, please sync to the develop branch and verify if that resolves the issue.

[2018-01-29 15:34] Pascal66 commented on #1687
[deleted by @askmike]

[2018-01-29 15:42] cmroche commented on #1687
@Pascal66 You likely have a virus in your computer, spamming your address book.

@askmike Can you delete the message? I don't want to report the user as a spammer, since it was probably unintentional.

[2018-01-29 15:44] cmroche commented on #1687
@Pascal66 Did you respond to the wrong email by accident, or perhaps you have a virus on your computer spamming your contact list?

[2018-01-29 18:20] JoeTeglasi opened #1807 "Gekko is running strat.update and strat.check methods before strat.init method has completed"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[?] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I'm trying to write a random forest algorithm that requires the generation of a lot of random numbers. for this I used the node-random npm package.

* *

[2018-01-29 19:17] AidasK opened #1811 "[Poloniex] Gekko does not properly calculate minimum orders"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I have launched live bot at poloniex and saw thousand of lines with errors like:
[code]
So log basically contains thousands of `unable to buy: null { error: 'Total must be at least 1.' }`
And sometimes `unable to buy: null { error: 'Nonce must be

[2018-01-29 19:46] off7 commented on #1800
Hi,
I Have the same error.
I am running Binance with the 1.3.3 module.
The Error occurs when there is an attempt to buy or sell below the minimum value allowed by Binance.
When the purchase or sale is total has worked well. Unfortunately there is no way to create a minimum for buying or selling ...

[2018-01-29 20:45] AidasK opened #1812 "DEMA indicator is not DEMA"
* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I have looked at dema indicator implementation and it is wrong.

* **Expected result** (what you hoped would happen)
It should be implemented as:
https://www.investopedia.com/ask/answers/121814/what-double-exponential-moving-average-dema-formula-a

[2018-01-29 20:54] lee101 commented on #789
Hey @ansonphong sure thing ill give you some free time on the platform :)

Checkout the bulk data section at https://bitbank.nz/data you can give me an email for the latest export of market data in whichever format is good for you at leepenkman@bitbank.nz there is the latest 4 hours of data available via rest api, youll also find a node/python api on our github at
https://github.com/BitBanknz

@dr

[2018-01-29 20:58] lee101 commented on #789
i should probably create a new issue for this but I would be happy to throw someone some e.g. 0.01 btc to someone who creates a decent gekko strategy based on bitbank.nz forecasts, also some free time on the platform :)

[2018-01-29 21:08] JoeTeglasi commented on #1807
Issue has been resolved using “fibers/future” library:
(Please pardon my pseudo-code)

Global scope:
Var Fiber = require(“fibers”);
Var Future = require(“fibers/future”);
var initComplete = false;
var functionChecklist={
Func1:”not-done”,
Func2:”not-done”,
Etc...
}
checkInitInt = setInterval(func(){
if (functionChecklist.Func1==“done” && functionChecklist.Func2==“done“ && etc..){
InitComplete.retu

[2018-01-29 21:23] JoeTeglasi commented on #1807
actually upon further inspection, it looks like the problem has been mitigated by using futures, but not completely resolved. instead of missing like 17k candles, it's now only missing around 2-3k.

the only reason the number of missed candles was lower was because adding the Fiber in the strat.update method meant that that method took more processing power and therefore slowed down the event loop

[2018-01-29 22:43] askmike opened #1814 "Sync events between plugins and the websocket connection"
Gekko has a plugin system that allows different "plugins" (modules) to communicate between each other via plugin events, see here: https://gekko.wizb.it/docs/extending/add_a_plugin.html#What-kind-of-events-can-I-listen-to- (system 1)

However the UI uses a different event system (over websockeets) to sync the UI state with what is happening internally inside different Gekko instances, see here: ht

[2018-01-29 23:03] hansixxxx opened #1815 "Tulind Issue"
Hi,

everytime i get the same error when testing a strategy:
**Gekko was unable to configure Tulip Indicators:
        adx requires optInTimePeriod.**

When i try to install tulind i get this error:
gekko# npm install tulind

**node-pre-gyp ERR! Tried to download(404): https://tulipnode.s3.amazonaws.com/tulind/v0.8.9/Release/tulind-v0.8.9-node-v59-linux-x64.tar.gz
node-pre-gyp ERR! Pre-built binar

[2018-01-29 23:05] askmike commented on #1812
We can also fix it, it shouldn't be too hard to implement what is suggested on that page. Does anyone feel like fixing it?

[2018-01-29 23:10] askmike commented on #1815
Unfortunately this is an issue with a different project.

Can you try post the issue here? https://github.com/TulipCharts/tulipnode

Thanks!

[2018-01-29 23:10] #1815 closed, assigned to nobody

[2018-01-29 23:20] askmike commented on #1812
I have offered a bounty of 0.003 BTC to whoever can fix this. See here for details and specific requirements: https://forum.gekko.wizb.it/thread-93.html

[2018-01-29 23:25] askmike commented on #1811
That's definitely a bug!

This has been reported before: this has to do with the fact that Poloniex has 2 minimums:

- one for the amount (in asset)
- one for the worth of the order (in BTC I think)

But binance has a similar limitation and @cmroche has implemented proper checks for Gekko's binance implementation. We can use something similar here.

[2018-01-29 23:31] SebFourault commented on #1780
I have the same problem (running on raspberry pi 3, gekko stable branch)
For my case, some random SELL points are on the plot but no buy points. And also the hour is not the good one (1 hour late). Would you know how to fix the problem ? I have no error message so far.

![image](https://user-images.githubusercontent.com/1742621/35540066-6218fef2-0554-11e8-9f77-71d9bef680e7.png)

Thanks a lot :smil

[2018-01-30 00:25] ansonphong opened #1816 "[FEATURE REQUEST] Update Dataset"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[X] feature request
[ ] question about the decisions made in the repository

Hey guys, great work on Gekko. One of things that is a very redundant aspect of operating backtesting is constantly having to import the datasets up to present moment to compare against

[2018-01-30 00:55] cmroche commented on #1811
@askmike @AidasK The changes in Binance to support a getLotSize function specifically address the problem of having multiple lot requirements. If you look at this issue, please consider following the approach there (and even adding a market update script) if you can.

Edit: Just noticed that you already mentioned this askmike :)

[2018-01-30 01:05] rkingy commented on #1703
@cmroche Thanks, yes I discovered this.. have switched to Dev branch.. no issues so far.

[2018-01-30 01:09] rkingy commented on #1687
@cmroche No actually it is fine when I am backtesting. The issue only occurs when using live tradebot mode. I'm not sure about Paper trading.

I looked at the code, and seems there are slight difference to the getOrder function compared to say bitfinex market.. I wondered if maybe the date.time is slightly different format? But am pretty new to looking at this code.. so no idea really..
 var date

[2018-01-30 03:03] cmroche commented on #1687
@rkingy Yeah, that would be wrong. Binance uses milliseconds, unix() expects seconds epoch time. However my code shows we are using this right now `date: moment(trade.timestamp).unix()`, which is correct. As I recall this was a bug someone fixed shortly after Christmas.

If you switch to the develop branch it'll probably work for you then.

[2018-01-30 03:56] JasLin commented on #610
@fseixas what do you mean ```good times``` and ```bad times```?  is ```good times``` means ```up trend```, ```bad times``` means ```down trend```?

[2018-01-30 08:32] K2 commented on #1800
I got a 400 related perhaps.... also binance everything -current/stable from git/node

RECEIVED ERROR IN GEKKO 557870227285749

Gekko encountered an error and can't continue

Gekko encountered an error and can't continue

Error:

[binance.js] Response code 400

Meta debug info:

Gekko version: v0.5.13
Nodejs version: v6.11.4
/home/ubuntu/gekko/web/routes/startGekko.js:86
    if(event.log)

[2018-01-30 10:14] rkingy commented on #1687
@cmroche I've fixed this on my local.

I'm not sure how to contribute code to this project.. but here is what I added.

[code]

[2018-01-30 10:26] Tajel commented on #1275
Hello I have simple strategy I think, 2 MACD merged.
Could you script 2 MACD in 1 strat?
https://uk.tradingview.com/x/gZvd9tzF/

[2018-01-30 11:50] Zamora7 commented on #1701
@wupeng1211 interested in selling this strat?

[2018-01-30 12:53] kkkkevin2046 commented on #789
My job is making credit score model, and also collect historical data of cryptocurrencies to analysis now. I
think feature engineer and target variable definition  is so import. TA quota  can be part of features.
of course,i'm working on it.
and i build a discord group: https://discord.gg/HPWaECX , welcome to do some cooperation work.
I use Python!

[2018-01-30 13:31] nicolasjust commented on #789
Would you send an invitation to me as well? just.nicolas@gmail.com

[2018-01-30 14:09] SebFourault opened #1817 "[gdax.js] Live tradebot crash after order not filled - irrecoverable error"
* **I'm submitting a ...**
[X] bug report
[  ] feature request
[  ] question about the decisions made in the repository

* **Action taken** (what you did)
I launched several time a live tradebot using gdax exchange, running gekko on a raspberry pi.

* **Expected result** (what you hoped would happen)
I would expect gekko to continue running all the time unless I stop it manually.

* **Actual resul

[2018-01-30 14:46] askmike commented on #1817
Hey,

- EAI_AGAIN is a DNS lookup timed out error, this means that sometimes the internet (or connection with your router) is flaky. Are you experiencing any problems with other applications?
- `write EPROTO 1995669376:error:1408F10B:SSL routines:SSL3_GET_RECORD:wrong version number:../deps/openssl/openssl/ssl/s3_pkt.c:365` is a very strange low level error, never seen this before. Did you run `np

[2018-01-30 14:57] SebFourault commented on #1817
Hey Mike,

Thanks for your answer !

- Ok I'll try to `npm install` again.
- But for the DNS lookup, I can't figure out what it may be. My internet seems to be working well 24/7, and my raspberri pi 3 is connected via wifi to my router. Is there a way to set a longer timeout in gekko before throwing a "no internet" error ?
Thanks again

[2018-01-30 16:13] askmike commented on #1817
Great! Please reply here and re-open if it does.

After doing [some more research](https://github.com/nodejs/node/issues/15780#issuecomment-334496907) this error means that the DNS server (most likely your home router) gave raspberry pi that specific error. This is not really an issue with Gekko and Gekko cannot do anything about it, the only things I can recommend trying and looking into are:

-

[2018-01-30 16:13] #1817 closed, assigned to nobody

[2018-01-30 17:52] Platiz0 commented on #1687
its on kraken too...but yet it shows 10 trades instead of just one because it cancelled a bunch before the trade got covered (im guessing) but the 48years is there https://i.imgur.com/JnpoSwE.png

[2018-01-30 18:22] SebFourault commented on #1817
Thanks a lot for you help there 😃
I've changed my DNS servers to the Google's one (8.8.8.8). If it crashes again i'll try to hardcode gdax IP addresses !

[2018-01-30 20:02] sven76 opened #1819 "TypeError: _.get is not a function"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
- Installed today's (2018-01-30) development version, updated npm stuff.
- Live Trading -> [x] Tradebot
- Exchange: Binance
- Currency: ETH
- Asset: ICX

[2018-01-30 20:21] cloggy45 commented on #1812
@askmike Do you have the excel sheet that you used to originally calculate the formulas?

[2018-01-30 20:43] Belphemur commented on #1819
I have the same issue.

Just starting a watcher on Kraken make it crash.

[2018-01-30 21:03] Bardesss commented on #1819
I have the same issue, also not getting any data in a backtest.

Running Gekko on a Raspberry Pi ZeroW with Raspbian.

[2018-01-30 21:48] mladenmilev opened #1820 "After refresh of Live bot instance information inconsistent"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ * ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Did reload the Gekko webpage
I had noticed one tradeline missing as fro 0.650 ETH next line starts with 0.634 ETH (significant loss!)
That corresponds

[2018-01-31 06:04] storshun commented on #1107
@thegamecat do you still monitor this thread? Unfortunately a lot of us don't have sufficient coding experience to drive this from the code snippet you provided to completion, but would love to take advantage of the guidelines you setup. Can you provide insight? Perhaps a simple example strategy that integrates the code you've written?

[2018-01-31 07:55] dumbanddumbererest commented on #383
Hey i know this is closed, but are we able to get prices for different pairs into the one strategy? It could all be on the one exchange, and we could look for cointegration, for example.

[2018-01-31 10:32] celoibarros opened #1825 "Last commit docker error"
Hi there,

I think there is an error on docker on the develop branch.

![screenshot from 2018-01-31 10-28-20](https://user-images.githubusercontent.com/16102901/35618094-d21650ec-0671-11e8-823b-9eac19803b3f.png)

[2018-01-31 11:15] askmike commented on #1825
Apologies! This has since been fixed here: https://github.com/askmike/gekko/commit/eeddec2c2fc163cd013fdd934d8bd5f2df86ab1b.

[2018-01-31 11:15] #1825 closed, assigned to nobody

[2018-01-31 11:15] askmike commented on #1819
apologies, this has since been fixed here: https://github.com/askmike/gekko/commit/dd7a2759991305a4b9471538cc6ce752d21138d4 and here:  https://github.com/askmike/gekko/commit/eeddec2c2fc163cd013fdd934d8bd5f2df86ab1b

[2018-01-31 11:15] #1819 closed, assigned to nobody

[2018-01-31 11:17] askmike commented on #1819
Some context: I obviously should not push broken code, apologies for this!

If you want to be sure to have a stable version, download a stable release from here: https://github.com/askmike/gekko/releases

These should not have these kind of problems :)

[2018-01-31 11:27] PanoPilot opened #1826 "GDAX Prices in Gekko not matching Price in GDAX Exchange"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
After backtesting my new strategy I run it in live mode to test the strategy. I've noticed that the candle.close values are different to the actual GDAX

[2018-01-31 11:36] PanoPilot commented on #1785
Hi there, I've similiar issues with GDAX.
Have you checked that the candle.close price from the trade is actually matching with the prices directly at the exchange at that point of time and have you checked that candle.start is matching to the actual time. I've noticed that the candle.close market time is 1.5h earlier than the real time, at least in my case.

thx & best,
chris

[2018-01-31 14:02] s5m4 opened #1827 "Talib and Tulip MFI produce very inaccurate results"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I made a strategy using the tulip MFI (money flow index) indictor, on debugging the strategy in gekko backtesting I realized the MFI results are very f

[2018-01-31 15:05] askmike commented on #1827
Hey! Thanks for the detailed error report.

Note that both TAlib and Tulip are both external projects.

Few small questions so we can investigate it further:

- Can you fix the uploaded images so we can see what you mean?
- Can you provide more information on the exact dataset you ran this over? Gekko calculates candles based on the time you start Gekko, not on specific intervals (if you ran it ho

[2018-01-31 15:10] askmike commented on #1826
Note that 30 min candles from Gekko are not guaranteed to start at the :00 or :30 minute mark every hour.

Can you post the code that generated these logs? Also provide some gekko logs (depending on the version of Gekko you are running these might be stored in the `gekko/logs` folder).

[2018-01-31 15:13] SxmickY opened #1828 "Error when starting the bot"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Hi, I tried to start the trade bot, with binance and I got this error out. BNB - WABI

* **Expected result** (what you hoped would happen)

* **Actual

[2018-01-31 15:16] s5m4 commented on #1827
hi mike, thanks for the fast reply. The images are fixed now.
The dataset I used to produce above results
**bitfinex EUR IOT From: _2018-01-27 16:00_ To: _2018-01-29-10:30_**
(reduced range taken from a larger data-set:
bitfinex EUR IOT From: 2018-01-09 16:57 To: 2018-01-29 10:36)
5 Minute Candles

[2018-01-31 15:19] SebFourault commented on #1770
I have the same issue with the last stable version (Gekko v0.5.12 and Gekko UI v0.2.0) : after 2 trades on a live tradebot, the html block "Roundtrips" doen't even show. And no errors in logs/console...

I tried to re-install modules and also to pull from develop branch but still same issue.

Will it be fixed in the next version ? Thanks a lot guyz 👍

[2018-01-31 15:30] s5m4 commented on #1827
I once programmed the MFI myself for another node-project and I'm aware of javascript rounding issues with long number types (I'm not coder enough to fully understand them but I'm aware of them ;) ) when I compared the results of my own implementation with the exchange, results were off by values of 1 - 2 at most which I found annoying but ok.. but here the values seem much(!) further off, at some

[2018-01-31 15:31] askmike commented on #1827
I will have a look asap at the data being passed around to see whether it might be Gekko instead of these underlying libraries. This will take a few days at least unfortunately (anyone else is free to look at this as well in the mean time).

[2018-01-31 15:36] PanoPilot commented on #1826
Ya sure. please see below the code sniplet from my strategyX.js
It is spread across update(candle) and check (candle) function using a global var in the startegy.js file

In addition I added the papertrader and wachter log files. I set to 1 min Candle with History=1 min in Papertrade mode to directly compare prices between exchange and logged candle prices. I figured out the gekko is processing tr

[2018-01-31 15:38] PanoPilot commented on #1826
ooh wair

[2018-01-31 15:40] PanoPilot commented on #1826
accidently closed

[2018-01-31 16:03] SxmickY commented on #1828
Now i have this error:

events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: SQLITE_BUSY: database is locked
RECEIVED ERROR IN GEKKO 109348705405975
Child process has died.

[2018-01-31 18:05] Huvudfoting commented on #1786
As hilkoc says: addOrder in kraken.js does this
 amount = this.roundAmount(amount);

Does the kraken API really require precision 1 for both currency and asset in the pair? That would make 0.1 XBT the minimum order, not 0.02 as their documentation states. Sounds odd.
I'll see what happens if I remove that line.

[2018-01-31 18:52] talentoscope commented on #1786
I can't seem to reproduce this in the latest commit so assuming this is fixed.

[2018-01-31 19:00] stfnschfr commented on #1701
![covnet](https://user-images.githubusercontent.com/16762976/35641769-18423e10-068f-11e8-823c-9c3c9c0c2958.png)

[2018-01-31 19:58] aevrane opened #1829 "develop branch error installing"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
install develop branch
npm install tulind --only=production

* **Expected result** (what you hoped would happen)
install as normal

* **Actual result**

[2018-01-31 20:30] SxmickY commented on #882
Hi, I have the same problem too, do you have any news?

[2018-01-31 21:05] peitrae opened #1830 "Inaccurate result on Candle and Gekko Indicator"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
I made a strategy using EMA and SMA  (Gekko indicator), and bring the result on debugging. The result is time, candle close, candle high, candle low, E

[2018-01-31 21:29] Huvudfoting commented on #1786
xteej, did you trade with <0.1 asset of something that has precision 1?
I reproduced this on 2018-01-30 running develop commit 4d31c0e. Nothing related seems to diff between then and 7aaa8e3.

2018-01-30 01:58:23 (INFO):     Attempting to SELL 0.06891044 XBT at kraken price: 9044.80000
2018-01-30 01:58:23 (DEBUG):    [kraken.js] (addOrder) SELL 0 XBT @ 9044.8 EUR
2018-01-30 01:58:23 (ERROR):    [k

[2018-01-31 21:40] talentoscope commented on #1786
That's strange. I'm not getting it at under 0.1. I guess I'll reopen it then :P

[2018-01-31 22:11] celoibarros opened #1832 "Get bet info on strategy"
Hi all,

Hope this is not a stupid question. Im trying a strategy and i want to know if is possible, after advice, short or long, to get the betting info. I think if you advice on a price not always you get matched.

Best regards.

[2018-01-31 22:31] gabrielomana opened #1833 "Developers For strategies in Gekko"
**1) BB + RSI + MACD:**

- Buy decision must satisfy three conditions:
  *  The signal is below the bottom line of Bollinger Bands
  *  The MACD in uptrend and has a cross intersection
  *  The Relative Strength Index is in uptrend

- Sell decision must satisfy three conditions:
  *  The signal is above the upper line of Bollinger Bands,
  *  The MACD in downtrend and has a cross intersection,
  *

[2018-01-31 23:56] reuzel commented on #1710
Thanks, that would be quite an effort...

[2018-01-31 23:56] #1710 closed, assigned to nobody

[2018-02-01 03:59] ansonphong commented on #1833
@gabrielomana Not a problem to implement. Feel free to send me an email and we can discuss. phong@phong.com

[2018-02-01 06:08] radumiron commented on #1778
@mstfimi I get the same error:
`TypeError: Cannot read property 'NbDevUp' of undefined`
Did you get to fix that? I guess I can always hardcode the value in the BB.js indicator file, but I think that's a configuration that has to be added somewhere...

[2018-02-01 06:29] radumiron commented on #1272
@John1231983 , I actually have the same question, but couldn't find the answer. Did you figure it out?Adding on top to that, I am color-blind, and the fact that the indicators are green/red doesn't help :).

[2018-02-01 07:28] sven76 commented on #1804
I get the same error for BNB/XLM:

[code]

Maybe it's necessary to add the minimum trading amounts for some exchanges. If you trade in Binance based on BNB, it's at least 1 BNB.

[2018-02-01 08:09] John1231983 commented on #1272
I think it followed the bifinex rule: Green is buy and RED is sell. Am I right?

[2018-02-01 08:13] rkingy commented on #1687
@askmike I've got a fix for this that is currently working on my live trades.. how do I contribute this? Pushing up on Dev branch gives me access denied so I assume there's a process to follow

[2018-02-01 08:26] GuybrushX commented on #1687
@rkingy
I'm pretty new to GitHub but I think you create a fork/copy/clone of the project and than a PR (Pull Request) so one of the developers with commit rights can check and merge your changes.

Pull Request because you ask the developers to pull your changes, check them, accept/deny them.

Perhaps you can create a PR with a local file, too but you need to check or google|bing that yourself.

[2018-02-01 09:21] Cozy35 commented on #1830
I'm a newby to gekko and coding. How do you implement a custom strategy in the config.js to use this strategy or any other custom strategy? Thanks,

[2018-02-01 10:28] PanoPilot commented on #1826
Hi mike, thx for getting back to me.

well i checked the code of the logging. So first of all it was a timezone issue explaning the 1h diff. additional i set the canlde size to 30 minutes and took the candle.start time so in total this explanins the 1.5 hourse lag.

the price diff were also my mistake. converting issue.

so apologies for bothering your! it was issue 47. the issue were 47 cm in fro

[2018-02-01 10:28] radumiron commented on #1272
Yes, @John1231983, you're right, I also asked the same question on the Discord channel, got the same reply.
Thanks!

[2018-02-01 10:29] #1826 closed, assigned to nobody

[2018-02-01 11:38] jk-85 opened #1835 "coinfalcon shows no trades in live-trading (update: still doesn't run)"
I'm using Gekko v0.5.12 and using coinfalcon.

Gekko seems to work, but in coinfalcon, I can see trades in the global trade history, but not in my personal trade window. I started a live "trade bot". I tested it with a manual trade there and it shows up as well as an other balance after my trade there. But with gekko, only my trades there show up but no balance chance on their side.

2018-02-01 12

[2018-02-01 13:53] jk-85 commented on #1835
I tested wex.nz, and same behaviour. I think it was my fault.

[2018-02-01 15:10] talentoscope opened #1836 "[i18n] Language adaption"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[x] feature request
[x] question about the decisions made in the repository

@askmike Is there any way of, or any plans to internationalise gekko at all for different languages? Had a few people talking about it on Discord. Community could bundle in, if that's so

[2018-02-01 18:22] jk-85 commented on #1835
I tried it with an other exchange and I tried the command-version under xubuntu, too, but nothing happenes. I really don't know what's going on, because the trades are showing in coinfalcon, but no trades in my personal trade history and no balance-changes of currency and asset (I have a little bit test-money in both, nothing is zero).

[2018-02-01 19:17] s5m4 commented on #1830
@Cozy35 start here https://gekko.wizb.it/docs - it's all there and relatively beginners friendly!
@peitrae I made very similar experience. at first I thought this is the issue I opened yesterday. :)
one thing to notice is that the gekko candles have different time frame. the exchange candles are always round time intervals, like 07:25 or 12:45 (depending on your candle size of course) while gekko

[2018-02-01 19:26] s5m4 commented on #1827
I wrote my own MFI indicator for gekko which I'd like to share.

[MFI.zip](https://github.com/askmike/gekko/files/1686880/MFI.zip)

I'm having it running along with the tulip MFI indicator atm and so far results match 100%. both are still off from the exchange results but it's hard to really know why, because gekko calculates its own "uneven" candle times like 7:18, 7:23, 7:28 etc.

Is there any w

[2018-02-01 19:29] celoibarros commented on #1832
@askmike, Is there any way of getting access to Manager on strategy file?

Best regards.

[2018-02-01 19:42] PanoPilot opened #1837 "Price determination logic of trader to fullfill buy order"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**
Hi there, can someone point me to the code / class where the trader is placing a buy order and retries with increased prices to fulfill the order. I am wondering what's the algorithim to determine the higher the price to fulfill the order.

Just want to check the coding to understand the logic behind this

[2018-02-01 20:20] Sarremans opened #1838 "Running Gekko live on Raspberry 3B"
Hi all,

I'm running Gekko 0.5.12 live. Trading ETH/BTC on the GDAX exchange with  a Raspberry 3b for about 4 days with the DEMA 10/21 strategy. Any other members doing this or am i an early adatpter? I'm curious if there are some better settings to run the Gekko.

[2018-02-01 20:23] #1829 closed, assigned to nobody

[2018-02-01 20:30] aevrane opened #1839 "FIXED - Develop Branch Binance Cancel Order Bug. Have logs. Please Help. Child Process has died. FIXED"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
trading usdt/bcc in binance, rsi

* **Expected result** (what you hoped would happen)
trade as normal

* **Actual result** (unexpected outcome)
crashes

[2018-02-01 20:43] Cozy35 commented on #1830
OK, I have read it but not sure where to set config.tradingAdvisor.strategy to custom, or how to implement a custom strategy. I have created a custom.js

[2018-02-01 20:56] aevrane commented on #1839
Tried changing the Order# for usdt/bcc to 10 (the minimum amount) and got this
![untitled](https://user-images.githubusercontent.com/36012343/35702908-40f888da-074f-11e8-8c4b-95b9f51e7715.jpg)
and the log says this:
2018-02-01 12:52:15 (DEBUG):	[binance.js] entering "setBalance" callback after api call, err: null, data: [object Object]
2018-02-01 12:52:15 (WARN):	Wanted to buy USDT but the amount

[2018-02-01 21:03] aevrane commented on #1839
![untitled2](https://user-images.githubusercontent.com/36012343/35703198-2aca0146-0750-11e8-92fd-626036108e81.jpg)
I'm assuming that I need to change this somehow, but I'm not a programmer so I don't know what to change it to

[2018-02-01 21:20] aevrane commented on #1839
it's reading _.get as a function when I think it's supposed to be a variable as defined on line 252 but I don't know how to get it to act like that. Someone please help.

[2018-02-01 21:40] sparkes25 commented on #1156
i need the same fault fixed.
seems every time people ask about this they are just told its not what they want and are not given an answer.

for trading coins like DOGE, TEL or other coins that have a very low value per coin then it is common for the price to only flick in a 1 sat spread.  right now DOGE is bouncing between 54 and 55 sat and it has been for the last 2 hours.

if i buy at 54 and sel

[2018-02-01 22:27] LilBifi opened #1840 "Sell signals not logged correctly"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Started a paper trader and a trade bot with exactly the same settings on the same exchange at the same time.

* **Expected result** (what you hoped woul

[2018-02-01 22:30] #1840 closed, assigned to nobody

[2018-02-01 22:54] aevrane commented on #1819
_.get is still being used in the binance.js file on line 304, but what do I change it to in order to avoid this error?

[2018-02-02 01:58] ilap commented on #1837
That's not too bad as it's just 0.68% of the price. I think this kind of volatility in price is acceptable as gekko uses limit buy instead of market buy. However, to define a max volatility in price change should be added to gekko's portfolioManager.js to prevent selling/buying asset on price error (means to high/low prices added to the order book)

[2018-02-02 04:53] aevrane commented on #1839
I talked to a friend that knows coding and I've figured it out. You just have to remove the _.get and one set of parenthesis. There is still some kind of glitch though because it stopped trading because an order got 'stuck" and it didn't cancel it at all, but it did do a few trades at least.

[2018-02-02 04:53] #1839 closed, assigned to nobody

[2018-02-02 06:32] ilap opened #1841 "[request] Consider to implement the trading capital, position sizing and market risk in gekko"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[x ] feature request
[ ] question about the decisions made in the repository

The currently implemented trading engine in gekko is very risky for any users as it does not have the position sizing, market risk and trading capital features implemented.

Gekko curre

[2018-02-02 07:18] LilBifi opened #1842 "Buy and Sell Events Logging Failure"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Started a paper trader and a trade bot with the exact same settings at around the same time.

* **Expected result** (what you hoped would happen)
The ma

[2018-02-02 07:52] aevrane opened #1843 "Binance - Not checking funds properly"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Trading BCC/USD in Binance with RSI strategy

* **Expected result** (what you hoped would happen)
trade as normal

* **Actual result** (unexpected outc

[2018-02-02 08:00] Hardwyre opened #1844 "Strat for MFI and MACD on Windows? (Could also get a Pi if that's easier.)"
Hello.

I have found that I've had good luck trading manually using MFI in cooperation with MACD.

I'm having a hard time understanding how Gekko's MACD settings work because backtesting doesn't seem to give results, but I'm running this on a Windows 7 system and I understand that not all of the indicators work properly.

I have considered getting a Raspberry Pi and running Linux for this along wi

[2018-02-02 08:50] ilap commented on #1841
Here comes a brief example what I meant by trading account on an exchange and do some risk assessment by calculating the position size..

Imagine you have the following currencies/assets on an exchange:
Currencies: BTC(1.5), ETH(4), USDT(1000)
Assets: NEO(20), XRB(40), DRGN(5000), ENG(1000)

Account (trading account) balance is the estimated value of the currency and the assets you want to trade
-

[2018-02-02 09:24] rkingy opened #1845 "Feature request: Date Picker in backtest screen"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[X] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Spending a lot of time backspacing the default dates and times on the backtest screen everytime I refresh. Would love a basic datepicker UI.

* **Expect

[2018-02-02 10:28] zupy39 commented on #1272
**@askmike:** This thread began with some questions from **clickbrain** and I have one issue related to that so maybe I should post it here. As I understood you cannot run multiple Live Gekkos on the same exchange. However, what I am trying to do is to watch multiple coin pairs, run the same strategy on them and then simply create a "blank" advice whenever market is ready for trading. At this poin

[2018-02-02 10:32] rkingy commented on #1812
@askmike I've also created a new indicator here which from my back tests seems to be accurate. #1846

[2018-02-02 11:37] mauroprojetos commented on #1827
@s5m4  Can friend give you some example to use your indicator?

[2018-02-02 13:54] BaptisteOrieux commented on #789
@salimelakoui You can count me in helping with this strategy ;)
I'm the french guy (Baptiste) who contacted you by email. This is my github account, not the previous one you add :p

[2018-02-02 14:21] askmike commented on #1836
Hey,

I was off the grid for a few days, besides that it is hard for me to keep
track of the discord. So thanks for bringing this discussion to my
attention.

I think this is a great idea, however I feel it should be limited to the
web UI (else way to complex to implement). This means that it can be
implemented completely in the Vue frontend layer. Unfortunately I won't
have time to do this, it wo

[2018-02-02 14:27] mauroprojetos commented on #789
I found the https://bitbank.nz/api resources interesting
I downloaded the API via npm and did a test with sample file.
I'm not a good node programmer, but I'm going to do some testing and see if I can integrate with Gekko.
If anyone wants to test the BitBank api is in my repository
https://github.com/mauroprojetos/bitbank

[2018-02-02 14:54] PanoPilot commented on #1837
ok alright. thanks for yr reply. I will check it out and maybe using a slippage param to prevent buying to expensive.

[2018-02-02 14:54] #1837 closed, assigned to nobody

[2018-02-02 15:00] talentoscope commented on #1836
I'll ask around.

[2018-02-02 21:11] unstephenk commented on #1800
I'm getting this error as well. It happens after a while. I have my candlesize set to "0.5".

Same bug as #1792

[2018-02-02 22:26] dmitriz opened #1847 "[DOCS] talib-macd strat links to outdated doc page"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Read the code here:
https://github.com/askmike/gekko/blob/develop/strategies/talib-macd.js#L5

* **Expected result** (what you hoped would happen)
The l

[2018-02-02 23:08] greenbigfrog commented on #1843
I think this might have been fixed on the develop branch. Try using it

[2018-02-02 23:09] AS2RAL commented on #1838
No single indicator strategy should be considered viable. Combine it with something else.

I have great success with BB + Stoch + MACD.

[2018-02-02 23:10] greenbigfrog commented on #1842
This is expected. The paper trader always assumes all trades it places get filled vs in the real world not all orders get filled

[2018-02-02 23:17] greenbigfrog commented on #1701
@askmike do you really want to permit this kind of discussion happen in the github issues? This is sth that would fit into that forum of yours.

[2018-02-02 23:27] aevrane commented on #1843
i'm using the latest copy of develop

[2018-02-02 23:39] ihdk opened #1848 "[GDAX] Canceled, not filled order"
Hello, first of all, thank you for such great tool like Gekko.
I am running gekko live with GDAX what working pretty well, although I have some questions.

Using advice('short') or advice('long'), it's correctly added to order on GDAX. But sometimes, the request is not filled and order cancelled - this cause me a problem as in my strategy I am couting automatically that it's filled and do the rest

[2018-02-03 01:16] Daakko opened #1849 "No trades made in binance"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
Ive followd all the instructions on installing GEkko

* **Expected result** (what you hoped would happen)
Ive did a backtest over the last 24 hour with

[2018-02-03 03:45] askmike commented on #1835
Can you provide full logs? Keep in mind that Gekko only trades when your strategy (whatever you configured) spits out some advice.

[2018-02-03 03:46] askmike commented on #1845
The UI is anything but user friendly at the moment. You make a great point and I want to tackle this with the big UI redesign, see here for more details: https://forum.gekko.wizb.it/thread-65.html

[2018-02-03 03:48] askmike commented on #1849
Inside the `gekko/logs` folder there should be some logs, can you upload the one somewhere and link to it here? (maybe check that there is no personal information like the amount of money on the account).

[2018-02-03 03:55] askmike commented on #1814
Closing this in favor of the WIP PR in #1850.

[2018-02-03 03:55] #1814 closed, assigned to nobody

[2018-02-03 04:02] askmike commented on #1848
When your advice signals "short" Gekko will try to sell, it will do this by creating orders on your side of the book and if they don't fill cancel **and recreate them**. Documentation is poor but you can read a bit more about that here: https://gekko.wizb.it/docs/introduction/scope.html#Execution-strategy

If you have found Gekko only canceling but not recreating that's definitely a bug! Please po

[2018-02-03 04:02] askmike commented on #1848
I hope that answers your question, if it doesn't please comment again :)

[2018-02-03 04:02] #1848 closed, assigned to nobody

[2018-02-03 04:13] askmike commented on #1847
Ah! That doc is a bit outdated, instead you probably want:

- this for what a strategy is: https://gekko.wizb.it/docs/strategies/creating_a_strategy.html
- this for specific information regarding talib indicators: https://gekko.wizb.it/docs/strategies/talib_indicators.html

I am open to a PR for this (else I'll try to do it asap).

[2018-02-03 04:30] aclarke822 commented on #1819
@aevrane I have the same issue. If I'm understanding correctly, it looks like this happens because the .get function in Lodash only exists since 3.7.0, yet the version in the package.json is 2.x. You can't upgrade to 3.7.0 though because it will break some other functions. Here is a workaround that I'm trying:
https://gist.github.com/jeneg/9767afdcca45601ea44930ea03e0febf
Add this function (with a

[2018-02-03 04:30] Daakko commented on #1849
[2018-02-03-02-12-UTC-tradebot.log](https://github.com/askmike/gekko/files/1691385/2018-02-03-02-12-UTC-tradebot.log)
[2018-02-03-02-12-UTC-watcher.log](https://github.com/askmike/gekko/files/1691386/2018-02-03-02-12-UTC-watcher.log)

[2018-02-03 04:32] Daakko commented on #1849
These are both form the last few hours. Again i did a backtest on them and again there were trades made. Except in real life then.  Glad your taking the time the help me out

[2018-02-03 05:13] askmike commented on #1849
It appears you where running the CCI strategy over 10 minute candles. Looking at your tradebot.log:

    2018-02-03 05:14:48 (DEBUG):	Insufficient data available. Age:  17  of  90
    2018-02-03 05:14:48 (DEBUG):	ind:  false   17   90
    2018-02-03 05:14:48 (DEBUG):	Trend:  undefined  for  0

The CCI indicator requires at least 90 historical candles, in your case this means 90 * 10 minutes = 900

[2018-02-03 05:14] #1849 closed, assigned to nobody

[2018-02-03 05:35] askmike commented on #1541
@saveriocastellano @cmroche apologies for the late reply.

The gist of the problem is that there are 2 event systems in the current Gekko, one for internal use (plugins) and one to be broadcasted upstream (via parent process to the web UI). I've just started to update the first system and remove the second one. Keep track of that here: #1850.

The current WIP branch includes this updated event. I

[2018-02-03 05:35] #1541 closed, assigned to nobody

[2018-02-03 05:36] Daakko commented on #1849
So theoretical, if i let the cci indicator run voor 900 minutes it should be working after that?

Thanks for all the help !!!

[2018-02-03 09:21] askmike commented on #1819
@aclarke822 @aevrane @sven76 I closed this issue too early, I indeed did not remove all `_.get` instances.

I will upgrade lodash soon, but we need to update a huge part of the codebase. Almost all internal modules rely on `_.bindAll` which has been removed more recent versions of lodash.

The reason I was using _.get is because it checks whether `data` is actually an object before trying to read

[2018-02-03 09:22] askmike commented on #1819
ping @werkkrew: apologies, I asked you to use _.get.

[2018-02-03 09:29] askmike commented on #1845
I'll keep this in mind and will do this with the new UI. But feel free to add it to the discussion above :)

[2018-02-03 09:29] #1845 closed, assigned to nobody

[2018-02-03 09:36] askmike commented on #1843
Is the problem, which definitely has to do with Gekko: it thinks you can trade but it can't after calculating a too high amount.

ping @cmroche (just so you are aware).

[2018-02-03 09:53] AurelienMassiot commented on #1144
@isbkch @rluckez Did you figure it out ? I am still trying and it doesn't work with the above suggestions.

[2018-02-03 10:44] askmike commented on #1144
I don't use Heroku but I'm inclined to say this is an issue with configuring their service as to how Gekko will listen for new web connections. If anyone figures it out feel free to post.

[2018-02-03 11:29] askmike commented on #1844
Most of the time when I hear someone talking about this the problem is quite simple: when running MACD over a market where a coin is very cheap (say a BTC/ALT market where the ALT is few satoshis or so) the [thresholds](https://gekko.wizb.it/docs/strategies/example_strategies.html#MACD) never get hit since the price is lower than the when the thresholds get hit.

Try adjusting the thresholds under

[2018-02-03 11:29] #1844 closed, assigned to nobody

[2018-02-03 12:26] ihdk commented on #1848
Hey Mike, that's perfect, thanks a lot.
inTrade is exactly what I was looking for, I am continue to use develop branch from now...

Just for your information, recreating the order after cancel worked and still working fine, I just looked for the way to disable cancelling what I finally found. But now with inTrade handle, no more needed to disable cancel of order.

Thanks again for your willingness

[2018-02-03 12:34] askmike commented on #1848
no problem, and if you have more questions feel free to ask :)

[2018-02-03 12:45] askmike commented on #1687
fixed in #1846!

[2018-02-03 12:45] #1687 closed, assigned to nobody

[2018-02-03 12:47] #1812 closed, assigned to nobody

[2018-02-03 13:00] greenbigfrog commented on #859
Any plans on implementing this or the like? Else old issues should be closed...

[2018-02-03 13:01] greenbigfrog commented on #411
@askmike this can most likely be closed

[2018-02-03 13:01] greenbigfrog commented on #429
Gonna bump this here. This would be sth rather nice to have

[2018-02-03 13:02] greenbigfrog commented on #438
I think this has been implemented or has open PRs for it

[2018-02-03 13:03] greenbigfrog commented on #517
I think this is outdated

[2018-02-03 13:03] #411 closed, assigned to nobody

[2018-02-03 13:03] greenbigfrog commented on #567
This can be closed

[2018-02-03 13:04] greenbigfrog commented on #636
I think there's nothing important here anymore and this can be closed @askmike

[2018-02-03 13:04] askmike commented on #517
Yes, for anyone reading: this is out of scope.

[2018-02-03 13:04] #517 closed, assigned to nobody

[2018-02-03 13:05] greenbigfrog commented on #703
@askmike this is kinda old

[2018-02-03 13:05] greenbigfrog commented on #862
boop

[2018-02-03 13:05] greenbigfrog commented on #866
this is outdated @askmike

[2018-02-03 13:06] greenbigfrog commented on #860
ping

[2018-02-03 13:06] greenbigfrog commented on #815
I think this has been fixed or the like @askmike

[2018-02-03 16:00] ferdiesletering commented on #1838
@stfnschfr do you have an example snippet of combining the indicators?

[2018-02-03 16:58] #567 closed, assigned to nobody

[2018-02-03 16:59] askmike commented on #636
I'm also quite sure this has been fixed in recent releases! If not please reopen.

[2018-02-03 16:59] #636 closed, assigned to nobody

[2018-02-03 17:01] askmike commented on #1842
@greenbigfrog they should get filled eventually, and while they sometimes might not

@LilBifi can you post logs of the real trader (stored in `gekko/logs`)?

[2018-02-03 18:12] ihdk commented on #1848
Hi again, using the develop branch I am experiencing errors more often while gekko is used live on the market.
Find please errors described below...I am not sure if it has something to do with it, but for me it looks like the problem comes after more attemts to foll my order. Order was few times cancelled and created again, but after some time of this state, errors appear...
If it would have to do

[2018-02-03 19:27] Daakko opened #1851 "No trades made in binance(part 2)"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
After the advice of askmike in #1849 ive set the historical candles to 1.  ive expected at least one trade

* **Expected result** (what you hoped would

[2018-02-03 20:43] gabrielomana commented on #727
@pedro942 Could you implement the SAR + MACD + RSI strategy? I want to do it too. Could we work together on this?

[2018-02-03 20:48] Pedro942 commented on #727
@gabrielomana yeah we can try I tried before but it ended as a conflict between indicators.
Email me at bad6bad@gmail.com so we can talk about it.

[2018-02-03 22:34] ihdk opened #1852 "[GDAX] zero value returned using onTrade(trade) handle"
Hello, I am not sure if it's kind of bug or I am doing something wrong, but I am trying to correct prices using onTrade handle to real sell or buy values.

I hope the attached screenshot describe problem.
Price value which is returned by candle.close in time when Gekko runs .check method may not be the real price with which is filled order on GDAX - real price may be higher or lower. That's fine,

[2018-02-03 22:52] ihdk commented on #1852
here is another one screenshot which may describe situation...
I am not sure now if it's caused by splitted order to smaller parts, or if it's because of cancelled orders or any other reason:/

![2018-02-03_2349](https://user-images.githubusercontent.com/36090254/35772371-392c8698-093d-11e8-886f-02c3e9d47a99.png)

[2018-02-03 22:54] ihdk commented on #1852
tradebot error log:
2018-02-03 23:38:13 (INFO):	Setting up Gekko in realtime mode
2018-02-03 23:38:13 (INFO):
2018-02-03 23:38:13 (INFO):	Setting up:
2018-02-03 23:38:13 (INFO):		 Candle writer
2018-02-03 23:38:13 (INFO):		 Store candles in a database
2018-02-03 23:38:13 (INFO):

2018-02-03 23:38:13 (INFO):	Setting up:
2018-02-03 23:38:13 (INFO):		 Trading Advisor
2018-02-03 23:38:13 (INFO):		 Cal

[2018-02-03 23:19] ihdk commented on #1852
seems like the same error:
2018-02-04 00:12:22 (ERROR):	[gdax.js] (getOrder) returned an irrecoverable error: NotFound
I am experiencing always when the order is more times cancelled. On the following screenshot is logged also content of "trade" which is returned by handle onTrade(trade) mentioned in previous message...

Thank your for any hints on that, because of this issue I am unable to left r

[2018-02-03 23:35] Daakko commented on #1851
So i found the fault. I sld my Wings and started trading ETH-FUEL. After the history files were done ive got 2 attempts of buying fuel 1 confirmed buy of Fuel and 2 attempts of selling Fuel and the third attempt was a confirmed sell. After that this error come in

C:\gekko\gekko-develop\plugins\performanceAnalyzer\performanceAnalyzer.js:112
    duration: this.roundTrip.exit.date.diff(this.roundTri

[2018-02-04 00:20] VinceBT commented on #1111
It's fixed now

[2018-02-04 00:51] Mix1986 opened #1853 "Pump Scanner"
Hi, is there any plugin for gekko that allows you to run the software as a scanner to intercept and make a purchase by naturally setting a stoploos?

[2018-02-04 03:29] ghost opened #1854 "Fail to Install tulind on ec2"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[*] question about the decisions made in the repository

* **Action taken** (what you did)
**not a native speaker, excuse my poor english.**
I wanna install tulind for my amazon ec2.

* **Expected result** (what you hoped would happen)

I alre

[2018-02-04 07:07] #866 closed, assigned to nobody

[2018-02-04 07:18] ansonphong opened #1855 "[ERROR] Binance Live Trade: Timestamp for this request was 1000ms ahead of the server's time"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report ?

* **Action taken** (what you did)
Run live trader on Binance.

* **Actual result** (unexpected outcome)
Node crashes, with the following error:

* **Other information** (e.g. detailed explanation, stacktraces, related issues, suggestions how to fix, links for

[2018-02-04 07:30] #1111 closed, assigned to nobody

[2018-02-04 07:50] askmike commented on #1853
Unfortunately that's out of scope: stop losses are not naturally supported (you can define some in your strategy but it will be too slow, smallest check is once every minute). On top of that Gekko doesn't scan all markets of an exchange.

See here what Gekko is meant to do and what it isn't: https://gekko.wizb.it/docs/introduction/scope.html

[2018-02-04 07:50] #1853 closed, assigned to nobody

[2018-02-04 07:52] SamuraiWaffle commented on #1854
Try these commands then try to reinstall Tulind.

sudo apt-get update
sudo apt-get install python2.7

sudo npm install -g node-gyp

[2018-02-04 08:28] ghost commented on #1854
I re-intalled python and do what you ask, but it turns out the same  :(

[2018-02-04 08:38] mario-linov opened #1856 "Hi"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)

* **Expected result** (what you hoped would happen)

* **Actual result** (unexpected outcome)

* **Other information** (e.g. detailed explanation, stac

[2018-02-04 08:54] askmike commented on #1854
@h4xon can you try again after installing the LTS version of nodejs (8.9.4)? Tulind comes with precompiled binaries for most platforms, but only for specific nodejs versions.

[2018-02-04 08:55] askmike commented on #1856
Hey!

Closing this but feel free to keep commenting :)

[2018-02-04 08:55] #1856 closed, assigned to nobody

[2018-02-04 08:58] askmike commented on #1855
There have been a ton of issues specifically with Binance in the past. It's pretty stable now (compared to a few weeks back)..

Pinging @cmroche & @aarongarvey

[2018-02-04 09:00] askmike commented on #1852
Will continue to work on this, this is new func.

@werkkrew does this work for you? If so, what exchange did you test this on.

@ihdk This (unfinished) PR will have more stable event support: #1850.

[2018-02-04 09:04] ghost commented on #1854
@askmike  Actually  , I installed the LTS version of nodejs since the begining. And I also tried v6.9.0 according to https://github.com/askmike/gekko/issues/1273 , But it still shows error.

[2018-02-04 09:18] askmike commented on #1854
tulind is an external project, would you mind posting the issue here?

https://github.com/TulipCharts/tulipnode

[2018-02-04 09:20] ihdk commented on #1852
Thank you, another related issue may be mentioned in my last comment here: [#1848](https://github.com/askmike/gekko/issues/1848)
Its related to checkOrder order function, instead of getOrder in this discussion.

[2018-02-04 09:27] askmike commented on #703
yes, for anyone interested in sharing strategies: head over to the forum :)

[2018-02-04 09:44] markvdberg0 commented on #789
Some nice results deep learning + gekko:
![a0b6ee64-659f-4cf3-8254-b7f8a13445cb](https://user-images.githubusercontent.com/34721184/35780902-e08d1380-09e2-11e8-9b8d-45974c4995a8.jpg)

[2018-02-04 10:46] ghost commented on #1854
OK, I'll post it. Thanks!

[2018-02-04 10:53] markvdberg0 commented on #1701
https://github.com/wupeng1211/gekko/commit/943ae1938be5d876848cb7f5250b98c1931d0572

[2018-02-04 11:07] Kirbylix commented on #1353
@AidasK

install pg:
npm install pg@6.1.0

[2018-02-04 11:20] ghost commented on #1854
I figured it out... , it needs a c++ environment but when I use `sudo yum install build-essential`  to install the kit it always fail. So I find another way to do it :

`sudo yum groupinstall "Development Tools"`

then `npm install tulind` finally worked out!

Hope someone encountered the same problem can understand what I am trying to say with my bad english.

[2018-02-04 11:22] askmike commented on #1854
Great stuff! Stuff in this issue tracker usually ranks pretty good on Google, but you can also post it to the forum if you feel like it: https://forum.gekko.wizb.it/forum-22.html

[2018-02-04 11:22] #1854 closed, assigned to nobody

[2018-02-04 11:45] Kirbylix opened #1857 "Error: Cannot find module '/core/../plugins/postgres/writer'"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
import Data with postgres adapter

* **Expected result** (what you hoped would happen)
Data in the Database -> postgres

* **Actual result** (unexpected

[2018-02-04 11:58] Kirbylix commented on #1838
hi,

my Gekko's are also running on a PI.
I'm one of them:
1x UI
3x TradeBots

[2018-02-04 12:27] aapsoftware opened #1858 "get confirmation of trade"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[ ] bug report
[ x] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)

* **Expected result** (what you hoped would happen)
when the strategy decides to trade it issues an advice ('long' or 'short'). Is the a way for the s

[2018-02-04 12:35] aapsoftware opened #1859 "poloniex trader not stitching data"
**Note: for support questions, please join our [Discord server](https://discord.gg/26wMygt)**

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Action taken** (what you did)
in the config file I configured the 'from' and 'to' date&times. I run the import command ( node gekko -c config.js --import) which imports the data req

[2018-02-04 12:57] AidasK commented on #1353
@Kirbylix pg was already installed hence its not related

[2018-02-04 12:57] monkeybizness opened #1860 "NGINX setup trouble on vps"
guys,i'm having lot of trouble for setting up gekkko on my vps, i followed the guide

https://gekko.wizb.it/docs/installation/installing_gekko_on_a_server.html#configuring-nginx-as-a-reverse-proxy

and work fine if i run the configuration in trust environment, but when i try to set up nginx my browser (firefox) is unable to connect, i've tried many configuration but nothing.

my UIconfig file is t

[2018-02-04 15:57] werkkrew commented on #1852
I tested it on Binance, I did see an occasional duplicate trade get emitted to the strategy with a price of 0 and I never discovered why.  It didn't happen often but basically a valid trade would get emitted and then shortly afterwards I'd see another trade event with incomplete data in it.

Generally speaking though, if the trade data is complete upstream, the changes I made to the strategy would

[2018-02-04 16:00] werkkrew commented on #1858
This was added in a recent PR in the dev branch.

https://github.com/askmike/gekko/pull/1810

[2018-02-04 16:14] greenbigfrog commented on #703
@askmike shouldn't this issue be closed?

[2018-02-04 16:15] #703 closed, assigned to nobody

[2018-02-04 16:41] ihdk commented on #1852
Thanks for response, just did a few more tests on GDAX...
Interesting may be that gekko returns zero for price in onTrade method, even the order was really not filled on GDAX and still waiting in order - attached screenshot below.
![2018-02-04_1730_001](https://user-images.githubusercontent.com/36090254/35779719-0a204282-09d2-11e8-8213-4f22182e43e1.png)

In time I am writing this message, buy orde